<ion-header>
  <ion-navbar>
    <ion-title>{{ 'LOGIN_TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<!-- -->
<ion-content padding class="animated fadeIn login auth-page">
  <div class="login-content">

    <!-- Logo -->
    <!-- <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h2 ion-text class="text-primary">
        <strong>{{ 'TLABATAC' | translate }}</strong>
      </h2>
    </div> -->

    <p text-center ion-text color="secondary">{{ 'OR_SIGN_IN_WITH' | translate }}</p>


    <button ion-button icon-only block class="btn-facebook" (click)="fbLogin()">
      <ion-icon name="logo-facebook"></ion-icon>
      {{ 'LOGIN_FACEBOOK' | translate }}
    </button>

    <p ion-text color="secondary">{{ 'HAVE_AN_ACCOUNT' | translate }}</p>
    <!-- Login form -->
    <form class="list-form" [formGroup]="myForm" (submit)="doLogin()">

        <button type="submit" class="button" hidden></button>

      <ion-item>
        <ion-label floating [style.transform-origin]="language == 'en' ? 'left top' : 'right top'">
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          {{ 'USERNAME' | translate }}
        </ion-label>
        <ion-input type="email" [(ngModel)]="account.username" name="username" formControlName="username" [lang]="language" [dir]="direction"></ion-input>
      </ion-item>

      <p class="validationHint" *ngIf="hasError('username', 'required')"> {{ 'REQURIED' | translate }} </p>

      <ion-item>
        <ion-label floating [style.transform-origin]="language == 'en' ? 'left top' : 'right top'">
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          {{ 'PASSWORD' | translate }}
        </ion-label>
        <ion-input [type]="passwordType" [(ngModel)]="account.password" name="password" formControlName="password" [lang]="language" [dir]="direction"></ion-input>
        <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
      </ion-item>

      <p class="validationHint" *ngIf="hasError('password', 'required')"> {{ 'REQURIED' | translate }} </p>

    </form>

    <p text-right ion-text color="secondary" tappable (click)="forgotPass()">
      <strong>{{ 'FPRGET_PASSWORD_QUESTION' | translate }}</strong>
    </p>

    <div>
      <button ion-button icon-start block class="myButton" tappable (click)="doLogin()" [disabled]="!myForm.valid">
        <ion-icon name="log-in" style="margin-left: 5px;margin-right: 5px"></ion-icon>
        {{ 'LOGIN_BUTTON' | translate }}
      </button>



      <!-- <button ion-button icon-only block class="btn-twitter" (click)="twLogin()" style="margin-top: 10px">
              <ion-icon name="logo-twitter"></ion-icon>
              {{ 'LOGIN_TWITTER' | translate }}
            </button>
          -->

      <!--
  
        <ion-grid>
          <ion-row>
            <ion-col col-4>
              <button ion-button icon-only block class="btn-facebook">
                <ion-icon name="logo-facebook"></ion-icon>
              </button>
            </ion-col>
            <ion-col col-4>
              <button ion-button icon-only block class="btn-twitter">
                <ion-icon name="logo-twitter"></ion-icon>
              </button>
            </ion-col>
            <ion-col col-4>
              <button ion-button icon-only block class="btn-gplus">
                <ion-icon name="logo-googleplus"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
  
      </div>
  
  -->

      <div text-center margin-top>
        <span ion-text color="secondary" tappable (click)="register()">{{'NEW_HERE' | translate}}
          <strong>{{'SIGN_UP' | translate}}</strong>
        </span>
      </div>


    </div>
  </div>
</ion-content>