<!--
  Generated template for the UserOrderDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

    <ion-grid style="width: 100%">
      <ion-row>
        <ion-col col-1 style="max-width: 25px;" (click)="back()">
          <ion-buttons style="margin-block-start: 2px;padding-bottom: 0px;padding-top: 0px" class="btn-style">
            <button ion-button>
              <ion-icon [name]="language != 'en' ? 'arrow-round-forward' : 'arrow-round-back'"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>
        <ion-col col-11 [style.margin-top]="language == 'en' ? '5px' : '0px'">
          <ion-title [style.margin-top]="!isCordova && language != 'en' ? '5px' : '0px'">{{ 'USER_ORDER_DETAILS' | translate }}</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>



  </ion-navbar>

</ion-header>


<ion-content class="auth-page-captain">


  <div class="account-info info-div" style="margin-top: 30px;padding-right: 10px;margin-bottom: 60px;">

    <ion-item class="item-background">
      <p>
        {{ 'IDENTIFY_NUMBER' | translate }} :
        <strong text-wrap>{{order.userOrder.identifyNumber}}</strong>
      </p>
    </ion-item>
    <ion-item class="item-background">
      <p>
        {{ 'STATUS' | translate }} :
        <strong text-wrap *ngIf="order.userOrder.status == 'not assigned'"> {{ 'USER_ORDER_NOT_ASSIGNED' | translate }}</strong>
        <strong text-wrap *ngIf="order.userOrder.status == 'assigned' && !order.userOrder.isTaken">{{ 'ASSIGNED' | translate }}</strong>
        <strong text-wrap *ngIf="order.userOrder.status == 'assigned' && order.userOrder.isTaken">{{ 'RECIVED_FROM_SENDER' | translate }}</strong>
        <strong text-wrap *ngIf="order.userOrder.status == 'delivered'"> {{ 'DELIVERED' | translate }}</strong>
      </p>
    </ion-item>
    <ion-item class="item-background" *ngIf="order.captain != null && userType == 'Admin'" (click)="viewCaptainDetails()">
      <p>
        {{ 'CAPTAIN_NAME' | translate }} :
        <strong text-wrap>{{order.captain.name}}</strong>
      </p>
    </ion-item>
    <ion-item class="item-background" *ngIf="order.captain != null && userType == 'User'">
      <p>
        {{ 'CAPTAIN_NAME' | translate }} :
        <strong text-wrap>{{order.captain.name}}</strong>
      </p>
    </ion-item>
    <ion-item class="item-background" *ngIf="order.captain != null && userType == 'User'">
      <p>
        {{ 'CAPTAIN_PHONE' | translate }} :
        <strong text-wrap>{{order.captain.phone}}</strong>
      </p>
    </ion-item>
    <ion-item class="item-background">
      <p>
        {{'CREATION_DATE' | translate}} :
        <strong text-wrap>{{getFormattedDate(order.userOrder.creationDate)}}</strong>
      </p>
    </ion-item>
    <ion-item class="item-background" *ngIf="order.userOrder.assignDate != null">
      <p>
        {{'ASSIGN_DATE' | translate}} :
        <strong text-wrap>{{getFormattedDate(order.userOrder.assignDate)}}</strong>
      </p>
    </ion-item>
    <ion-item class="item-background" *ngIf="order.userOrder.deliverDate != null">
      <p>
        {{'DELIVER_DATE' | translate}} :
        <strong text-wrap>{{getFormattedDate(order.userOrder.deliverDate)}}</strong>
      </p>
    </ion-item>
    <ion-item class="item-background" *ngIf="order.userOrder.isBuing">
      <p>
        {{ 'MARKET_NAME' | translate }} :
        <strong text-wrap>{{order.userOrder.marketName}}</strong>
      </p>
    </ion-item>
    <ion-item class="item-background" *ngIf="order.userOrder.isBuing">
      <p>
        {{ 'MARKET_ADDRESS' | translate }} :
        <strong text-wrap>{{order.userOrder.marketAddress}}</strong>
      </p>
    </ion-item>
    <ion-item class="item-background" *ngIf="order.userOrder.isBuing">
      <p>
        {{ 'MARKET_PHONE' | translate }} :
        <strong text-wrap>{{order.userOrder.marketPhone}}</strong>
      </p>

    </ion-item>
    <ion-item class="item-background" *ngIf="order.userOrder.isBuing">
      <p>
        {{ 'PRICE_RANGE' | translate }} :
        <strong text-wrap>{{order.userOrder.priceRange}}</strong>
      </p>
    </ion-item>
    <ion-item class="item-background">
      <p>
        {{ 'PRODUCT_DESCRIPTION' | translate }} :
        <strong text-wrap>{{order.userOrder.description}}</strong>
      </p>
    </ion-item>
    <ion-item class="item-background" *ngIf="!order.userOrder.isBuing">
      <p>
        {{ 'APPROXIMATE_WEIGHT' | translate }} :
        <strong text-wrap>{{order.userOrder.weight}} {{ 'KG' | translate }}</strong>
      </p>
    </ion-item>
    <ion-item class="item-background" *ngIf="!order.userOrder.isBuing && order.senderAddress != null">
      <ion-grid style="padding: 0px;
      margin: 0px;">
        <ion-row style="padding: 0px;
        margin: 0px;">
          <ion-col col-11 style="padding: 0px;
          margin: 0px;">
            <p>
              {{ 'SENDER_ADDRESS' | translate }} :
              <strong text-wrap>{{order.senderAddress.region}} , {{order.senderAddress.street}} , {{'TOWER' | translate}}/{{order.senderAddress.building}}
                , {{'FLOOR' | translate}}/{{order.senderAddress.floor}} , {{'FLAT' | translate}}/{{order.senderAddress.flatNumber}}
                , {{order.senderAddress.city}}</strong>
            </p>
          </ion-col>
          <ion-col col-1 style="padding: 0px;
          margin: 0px;">
            <ion-icon name="map" style="color: black" (click)="viewLocation(order.senderAddress)" *ngIf="order.senderAddress.latitude != '0'"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item class="item-background" *ngIf="!order.userOrder.isBuing && order.senderAddress != null && order.senderAddress.livingType != null && order.senderAddress.livingType != ''">
      <p>
        {{ 'ORDER_DETAIL_SENDER_LIVING_TYPE' | translate }} :
        <strong text-wrap>{{getLivingType(order.senderAddress.livingType)}}</strong>
      </p>
    </ion-item>
    <ion-item class="item-background" *ngIf="!order.userOrder.isBuing && order.senderAddress != null && order.senderAddress.otherDetails != null && order.senderAddress.otherDetails != ''">
      <p>
        {{ 'ORDER_DETAIL_SENDER_SPECIAL_MARQE' | translate }} :
        <strong text-wrap>{{order.senderAddress.otherDetails}}</strong>
      </p>
    </ion-item>
    <ion-item class="item-background" *ngIf="order.userOrder.senderPhone != null">
      <p>
        {{ 'SENDER_PHONE' | translate }} :
        <strong text-wrap>{{order.userOrder.senderPhone}}</strong>
      </p>
    </ion-item>
    <ion-item class="item-background" *ngIf="order.userOrder.reciverName != null">
      <p>
        {{ 'RECIVER_NAME' | translate }} :
        <strong text-wrap>{{order.userOrder.reciverName}}</strong>
      </p>
    </ion-item>
    <ion-item class="item-background" *ngIf="order.reciverAddress != null">
      <ion-grid style="padding: 0px;
      margin: 0px;">
        <ion-row style="padding: 0px;
        margin: 0px;">
          <ion-col col-11 style="padding: 0px;
          margin: 0px;">
            <p>
              {{ 'RECIVER_ADDRESS' | translate }} :
              <strong text-wrap>{{order.reciverAddress.region}} , {{order.reciverAddress.street}} , {{'TOWER' | translate}}/{{order.reciverAddress.building}}
                , {{'FLOOR' | translate}}/{{order.reciverAddress.floor}} , {{'FLAT' | translate}}/{{order.reciverAddress.flatNumber}}
                , {{order.reciverAddress.city}} </strong>
            </p>
          </ion-col>
          <ion-col col-1 style="padding: 0px;
          margin: 0px;">
            <ion-icon name="map" style="color: black" (click)="viewLocation(order.reciverAddress)" *ngIf="order.reciverAddress.latitude != '0'"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item class="item-background" *ngIf="order.reciverAddress != null && order.reciverAddress.livingType != null && order.reciverAddress.livingType != ''">
      <p>
        {{ 'ORDER_DETAIL_RECIVER_LIVING_TYPE' | translate }} :
        <strong text-wrap>{{getLivingType(order.reciverAddress.livingType)}}</strong>
      </p>
    </ion-item>
    <ion-item class="item-background" *ngIf="order.reciverAddress != null && order.reciverAddress.otherDetails != null && order.reciverAddress.otherDetails != ''">
      <p>
        {{ 'ORDER_DETAIL_RECIVER_SPECIAL_MARQE' | translate }} :
        <strong text-wrap>{{order.reciverAddress.otherDetails}}</strong>
      </p>
    </ion-item>
    <ion-item class="item-background" *ngIf="order.userOrder.reciverPhone != null">
      <p>
        {{ 'RECIVER_PHONE' | translate }} :
        <strong text-wrap>{{order.userOrder.reciverPhone}}</strong>
      </p>
    </ion-item>
    <ion-item class="item-background" *ngIf="order.userOrder.rating != 0">
      <p>
        {{ 'RATING' | translate }} :
        <ion-icon [style.margin-right]="language == 'en' ? '0px' : '10px'" [style.margin-left]="language == 'en' ? '10px' : '0px'"
          style="color: rgb(87, 76, 233);font-size: 1.5em;" [name]="order.userOrder.rating < 1 ? 'star-outline' : 'star'"></ion-icon>
        <ion-icon style="color: rgb(87, 76, 233);font-size: 1.5em;" [name]="order.userOrder.rating < 2 ? 'star-outline' : 'star'"></ion-icon>
        <ion-icon style="color: rgb(87, 76, 233);font-size: 1.5em;" [name]="order.userOrder.rating < 3 ? 'star-outline' : 'star'"></ion-icon>
        <ion-icon style="color: rgb(87, 76, 233);font-size: 1.5em;" [name]="order.userOrder.rating < 4 ? 'star-outline' : 'star'"></ion-icon>
        <ion-icon style="color: rgb(87, 76, 233);font-size: 1.5em;" [name]="order.userOrder.rating < 5 ? 'star-outline' : 'star'"></ion-icon>

      </p>
    </ion-item>
    <ion-item class="item-background" *ngIf="order.userOrder.ratingComment != null && order.userOrder.ratingComment != ''">
      <p>
        {{ 'RATING_COMMENT' | translate }} :
        <strong text-wrap>{{order.userOrder.ratingComment}}</strong>
      </p>
    </ion-item>
    <ion-grid>
      <ion-row *ngIf="userType!='Captain'">
        <ion-col>
          <ion-buttons end class="btn-style" style="width: 100%" *ngIf="order.userOrder.status != 'delivered' && userType=='Admin'">
            <button class="myButton" ion-button style="width: 100%" (click)="assingCaptain()">
              {{ 'ASSIGN_CAPTAIN' | translate }}
            </button>
          </ion-buttons>

          <ion-buttons end class="btn-style" style="width: 100%" *ngIf="order.userOrder.status == 'assigned' && userType=='Captain'">
            <button class="myButton" ion-button style="width: 100%" (click)="finish()">
              {{ 'DELIVER' | translate }}
            </button>
          </ion-buttons>


          <ion-buttons end class="btn-style" style="width: 100%" *ngIf="userType=='User'">
            <button class="myButton" ion-button style="width: 100%" (click)="editRating()">
              {{ 'EDIT_RATING_BUTTON' | translate }}
            </button>
          </ion-buttons>
        </ion-col>
      </ion-row>
      <ion-row *ngIf=" userType =='Captain' && !order.userOrder.isTaken && !order.userOrder.isBuing && order.userOrder.status == 'assigned'">

        <ion-col col-6>

          <ion-buttons end class="btn-style" style="width: 100%" *ngIf="myVar == 'assigned' && userType=='Captain' && !order.userOrder.isTaken">
            <button ion-button class="myButton" style="width: 100%" (click)="takeOrder(order)">
              {{ 'TAKE_ORDER_FROM_SENDER' | translate }}
            </button>
          </ion-buttons>

        </ion-col>

        <ion-col col-6>

          <ion-buttons end class="btn-style" style="width: 100%" *ngIf="myVar == 'assigned' && userType=='Captain'">
            <button ion-button class="myButton" style="width: 100%" (click)="finish(order)">
              {{ 'DELIVER' | translate }}
            </button>
          </ion-buttons>

        </ion-col>

        <!-- <ion-col col-6>
          <ion-buttons end class="btn-style" style="width: 100%;" *ngIf="myVar != 'delivered' && (userType=='Captain' || userType=='Admin')">
            <button ion-button (click)="viewLocation(order)" style="width: 100%;">
              {{ 'VIEW_LOCATION' | translate }}
            </button>
          </ion-buttons>
        </ion-col> -->
      </ion-row>
      <ion-row *ngIf=" userType =='Captain' && (order.userOrder.isTaken || order.userOrder.isBuing) && order.userOrder.status == 'assigned'">
        <ion-col col-12>

          <ion-buttons end class="btn-style" style="width: 100%" *ngIf="myVar == 'assigned' && userType=='Captain'">
            <button ion-button class="myButton" style="width: 100%" (click)="finish(order)">
              {{ 'DELIVER' | translate }}
            </button>
          </ion-buttons>

        </ion-col>

      </ion-row>

    </ion-grid>

  </div>

</ion-content>