page-user-order-detail {

    .circle-pic{
        width:70px;
        height:70px;
        border-radius: 50%;      
    }
    .icon-btn{
       
    position: absolute;
    padding: 20px;
    margin-top: 20px;
    margin-left: 50px;
    
    }
    .img-col{
        width: 60px;
        max-width: 80px;
    }
    .info-div{
       // margin-left: 20px;
        margin-top: 15px;
       
    }
    .auth-page-captain {
        background-color: #fff;
        &::after {
          content: "";
          background: url("../assets/img/bg.jpg") no-repeat;
          background-size: cover;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          position: absolute;
          z-index: 0;
        }
    }
    .item-background {
        background-color: transparent;
    }
    .btn-style {
        padding: 5px;
    }
    .person {
        width: 40%;
        height: 70%;
        margin: 20px auto 0;
        border-radius: 80%;
        background: url("../assets/img/person.png") no-repeat;
        background-size: 100%;
      }

      .item-md{
        padding-left: 0px;
      }


}
