<!--
  Generated template for the AddAddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="!openMap">{{ 'ADD_ADDRESS' | translate }}</ion-title>
    <ion-title *ngIf="openMap">MAP</ion-title>
  </ion-navbar>

  <!-- <ion-buttons end *ngIf="openMap">
    <button ion-button (click)="chooseLocation()">
      <ion-icon name="add"></ion-icon> Choose Location </button>
  </ion-buttons> -->

</ion-header>

<!-- -->
<ion-content class="auth-page">
  <div class="login-content" *ngIf="!openMap">

    <div padding text-center>
      <div class="logo"></div>
      <h2 ion-text class="text-primary">
        Tlabatac
      </h2>
    </div>


    <form class="list-form" [formGroup]="myForm">
      <!-- <ion-item>
        <ion-label floating>
          <ion-icon name="home" item-start class="text-primary"></ion-icon>
          {{ 'COUNTRY' | translate }}
        </ion-label>
        <ion-input type="text" [(ngModel)]="address.country" formControlName="country" name="country"></ion-input>
      </ion-item>

      <p class="validationHint" *ngIf="hasError('country', 'required')"> {{ 'REQURIED' | translate }}  </p>
      <p class="validationHint" *ngIf="hasError('country', 'maxlength')">{{ 'MAX_LENGTH' | translate }} </p> -->

      <!-- <ion-item>
        <ion-label floating>
          <ion-icon name="home" item-start class="text-primary"></ion-icon>
          {{ 'CITY' | translate }}
        </ion-label>
        <ion-input type="text" [(ngModel)]="address.city" formControlName="city" name="city"></ion-input>
      </ion-item> -->

      <ion-item >
        <ion-label floating>
          <ion-icon name="pin" item-start class="text-primary"></ion-icon>
          {{ 'CITY' | translate }}
        </ion-label>
        <ion-select formControlName="city" [placeholder]="alex" [(ngModel)] = "alex">
          <ion-option [selected]="alex == item" [value]="'Alexandria'"  >{{'ALEX' | translate}} </ion-option>
          <ion-option [selected]="alex == item" [value]="'Cairo'"  >{{'CAIRO' | translate}} </ion-option>
          <ion-option [selected]="alex == item" [value]="'Tanta'"  >{{'TANTA' | translate}} </ion-option>
          <ion-option [selected]="alex == item" [value]="'Damnhor'"  >{{'DAMNHOR' | translate}} </ion-option>
          <ion-option [selected]="alex == item" [value]="'Shibin Elkom'"  >{{'SHIPIN_ELKOM' | translate}} </ion-option>
          <ion-option [selected]="alex == item" [value]="'Banha'"  >{{'BANHA' | translate}} </ion-option>

        </ion-select>
      </ion-item>

      <p class="validationHint" *ngIf="hasError('city', 'required')">{{ 'REQURIED' | translate }}  </p>
      <p class="validationHint" *ngIf="hasError('city', 'maxlength')">{{ 'MAX_LENGTH' | translate }} </p>

      <ion-item>
        <ion-label floating>
          <ion-icon name="pin" item-start class="text-primary"></ion-icon>
          {{ 'DETAILS' | translate }}
        </ion-label>
        <ion-input type="text" [(ngModel)]="address.street" formControlName="street" name="street"></ion-input>
      </ion-item>

      <p class="validationHint" *ngIf="hasError('street', 'required')">{{ 'REQURIED' | translate }}  </p>
      <p class="validationHint" *ngIf="hasError('street', 'maxlength')">{{ 'MAX_LENGTH' | translate }} </p>

      <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          {{ 'POSTAL_CODE' | translate }}
        </ion-label>
        <ion-input type="email" [(ngModel)]="address.postalCode" formControlName="postalCode" name="postalcode"></ion-input>
      </ion-item>

      <p class="validationHint" *ngIf="hasError('postalCode', 'required')">{{ 'REQURIED' | translate }}  </p>
      <p class="validationHint" *ngIf="hasError('postalCode', 'maxlength')">{{ 'MAX_LENGTH' | translate }} </p>


    </form>

    <div margin-top style="margin-bottom: 40px;">
      <button ion-button block color="dark" tappable (click)="save()" [disabled]="!myForm.valid" >
        {{ 'ADD-ADDRESS' | translate }}
      </button>
    </div>
  </div>
  <div [ngStyle]="mapStyle">
    <ion-grid [ngStyle]="mapStyle">
      <ion-row [ngStyle]="mapStyle">
        <ion-col [ngStyle]="mapStyle">
          <div #map id="map" [ngStyle]="mapStyle"></div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div margin-top *ngIf="openMap">
            <button ion-button block color="dark" tappable (click)="chooseLocation()">
              Choose Location
            </button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>