<!-- Generated template for the AddressesSelectorComponent component -->
<ion-content class="auth-page-captain">

  <p text-center> <strong text-wrap> {{'CHOOSE_ADDRESS' | translate}} </strong> </p>

    <div text-center *ngIf="addresses.length == 0">
        <ion-grid>
          <ion-row>
            <ion-col>
              <img src="../../assets/img/sad.png" class="not-found-img">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
    
              <h3 class="not-found-text"> {{ 'EMPTY_LIST' | translate }}</h3>
            </ion-col>
          </ion-row>
        </ion-grid>
    
      </div>
    
  <ion-list>

    <ion-item class="item-background"  *ngFor="let address of addresses" (click) = "chooseAddress(address)" >
      <ion-grid>
        <ion-row>
          <ion-col class="btn-col" col-12>

            <div class="account-info info-div">
                <p style="margin-top: 13px" *ngIf="address.name != null && address.name != ''">
                    {{'ADDRESS_NAME' | translate}} : <strong text-wrap> {{address.name}}</strong>
                </p>
              <!-- <p style="margin-top: 13px">
                  {{'CITY' | translate}} : <strong text-wrap> {{address.city}}</strong>
              </p> -->

              <p style="margin-top: 10px">
                {{'ADDRESS' | translate}} : <strong text-wrap>{{address.flatNumber}} , {{address.floor}} , {{address.building}} , {{address.street}} , {{address.region}} , {{address.city}} </strong>
              </p>
              <p style="margin-top: 13px" *ngIf="address.otherDetails != null && address.otherDetails != ''">
                  {{'OTHER_DETAILS' | translate}} : <strong text-wrap> {{address.otherDetails}}</strong>
              </p>
              
            </div>
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-item>
    

  </ion-list>

</ion-content>