<!--
  Generated template for the EditAddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

    <ion-grid style="width: 100%">
      <ion-row>
        <ion-col col-1 style="max-width: 25px;">
          <ion-buttons style="margin-block-start: 2px" class="btn-style">
            <button ion-button (click)="back()">
              <ion-icon [name]="language != 'en' ? 'arrow-round-forward' : 'arrow-round-back'"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>
        <ion-col col-11 [style.margin-top]="language == 'en' ? '5px' : '2px'">
          <ion-title >{{ 'EDIT_ADDRESS' | translate }}</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>


  <!-- <ion-buttons end *ngIf="openMap">
    <button ion-button (click)="chooseLocation()">
      <ion-icon name="add"></ion-icon> Choose Location </button>
  </ion-buttons> -->

</ion-header>

<!-- -->
<ion-content class="auth-page">
  <div class="login-content" *ngIf="!openMap">

    <!-- <div padding text-center>
      <div class="logo"></div>
      <h2 ion-text class="text-primary">
        {{ 'TLABATAC' | translate }}
      </h2>
    </div>
 -->

    <form class="list-form" [formGroup]="myForm">
      <!-- <ion-item>
        <ion-label floating>
          <ion-icon name="home" item-start class="text-primary"></ion-icon>
          {{ 'COUNTRY' | translate }}
        </ion-label>
        <ion-input type="text" [(ngModel)]="address.country" formControlName="country" name="country"></ion-input>
      </ion-item>

      <p class="validationHint" *ngIf="hasError('country', 'required')"> {{ 'REQURIED' | translate }}  </p>
      <p class="validationHint" *ngIf="hasError('country', 'maxlength')">{{ 'MAX_LENGTH' | translate }} </p> -->

      <!-- <ion-item>
        <ion-label floating>
          <ion-icon name="home" item-start class="text-primary"></ion-icon>
          {{ 'CITY' | translate }}
        </ion-label>
        <ion-input type="text" [(ngModel)]="address.city" formControlName="city" name="city"></ion-input>
      </ion-item> -->

      <ion-item>
        <ion-label floating [style.transform-origin]="language == 'en' ? 'left top' : 'right top'">
          <ion-icon name="pin" item-start class="text-primary"></ion-icon>
          {{ 'ADDRESS_NAME' | translate }}
        </ion-label>
        <ion-input type="text" [(ngModel)]="address.name" formControlName="name" name="name" [dir]="direction"></ion-input>
      </ion-item>
      <p class="validationHint" *ngIf="hasError('name', 'maxlength')">{{ 'MAX_LENGTH' | translate }} </p>


      <!-- <ion-item>
        <ion-label floating [style.transform-origin]="language == 'en' ? 'left top' : 'right top'">
          <ion-icon name="pin" item-start class="text-primary"></ion-icon>
          {{ 'CITY' | translate }}
        </ion-label>
        <ion-select formControlName="city" [placeholder]="getCityPlaceHolder()" [(ngModel)]="alex" [lang]="language" [dir]="direction">
          <ion-option [selected]="alex == item" [value]="'Alexandria'" [dir]="direction">{{'ALEX' | translate}} </ion-option>
          <ion-option [selected]="alex == item" [value]="'Cairo'" [dir]="direction">{{'CAIRO' | translate}} </ion-option>
          <ion-option [selected]="alex == item" [value]="'Tanta'" [dir]="direction">{{'TANTA' | translate}} </ion-option>
          <ion-option [selected]="alex == item" [value]="'Damnhor'" [dir]="direction">{{'DAMNHOR' | translate}} </ion-option>
          <ion-option [selected]="alex == item" [value]="'Shibin Elkom'" [dir]="direction">{{'SHIPIN_ELKOM' | translate}} </ion-option>
          <ion-option [selected]="alex == item" [value]="'Banha'" [dir]="direction">{{'BANHA' | translate}} </ion-option>

        </ion-select>
      </ion-item>

      <p class="validationHint" *ngIf="hasError('city', 'required')">{{ 'REQURIED' | translate }} </p>
      <p class="validationHint" *ngIf="hasError('city', 'maxlength')">{{ 'MAX_LENGTH' | translate }} </p>
 -->

      <ion-item>
        <ion-label floating [style.transform-origin]="language == 'en' ? 'left top' : 'right top'">
          <ion-icon name="pin" item-start class="text-primary"></ion-icon>
          {{ 'LIVINF_TYPE' | translate }}
        </ion-label>
        <ion-select formControlName="livingType" [placeholder]="getalaivingPlaceholder()" [(ngModel)]="flat" [dir]="direction">
          <ion-option [selected]="flat == item" [value]="'Flat'" [dir]="direction">{{'FLAT' | translate}} </ion-option>
          <ion-option [selected]="flat == item" [value]="'Home'" [dir]="direction">{{'HOME' | translate}} </ion-option>
          <ion-option [selected]="flat == item" [value]="'Office'" [dir]="direction">{{'OFFICE' | translate}} </ion-option>
        </ion-select>
      </ion-item>

      <p class="validationHint" *ngIf="hasError('livingType', 'required')">{{ 'REQURIED' | translate }} </p>
      <p class="validationHint" *ngIf="hasError('livingType', 'maxlength')">{{ 'MAX_LENGTH' | translate }} </p>


      <ion-item>
        <ion-label floating [style.transform-origin]="language == 'en' ? 'left top' : 'right top'">
          <ion-icon name="pin" item-start class="text-primary"></ion-icon>
          {{ 'REGION' | translate }}
        </ion-label>
        <ion-input type="text" [(ngModel)]="address.region" formControlName="region" name="region" [dir]="direction"></ion-input>
      </ion-item>

      <p class="validationHint" *ngIf="hasError('region', 'required')">{{ 'REQURIED' | translate }} </p>
      <p class="validationHint" *ngIf="hasError('region', 'maxlength')">{{ 'MAX_LENGTH' | translate }} </p>


      <ion-item>
        <ion-label floating [style.transform-origin]="language == 'en' ? 'left top' : 'right top'">
          <ion-icon name="pin" item-start class="text-primary"></ion-icon>
          {{ 'STREET' | translate }}
        </ion-label>
        <ion-input type="text" [(ngModel)]="address.street" formControlName="street" name="street" [dir]="direction"></ion-input>
      </ion-item>

      <p class="validationHint" *ngIf="hasError('street', 'required')">{{ 'REQURIED' | translate }} </p>
      <p class="validationHint" *ngIf="hasError('street', 'maxlength')">{{ 'MAX_LENGTH' | translate }} </p>

      <ion-item>
        <ion-label floating [style.transform-origin]="language == 'en' ? 'left top' : 'right top'">
          <ion-icon name="pin" item-start class="text-primary"></ion-icon>
          {{ 'BUILDING' | translate }}
        </ion-label>
        <ion-input type="text" [(ngModel)]="address.building" formControlName="building" name="building" [dir]="direction"></ion-input>
      </ion-item>

      <p class="validationHint" *ngIf="hasError('building', 'required')">{{ 'REQURIED' | translate }} </p>
      <p class="validationHint" *ngIf="hasError('building', 'maxlength')">{{ 'MAX_LENGTH' | translate }} </p>

      <ion-item>
        <ion-label floating [style.transform-origin]="language == 'en' ? 'left top' : 'right top'">
          <ion-icon name="pin" item-start class="text-primary"></ion-icon>
          {{ 'FLOOR' | translate }}
        </ion-label>
        <ion-input type="text" [(ngModel)]="address.floor" formControlName="floor" name="floor" [dir]="direction"></ion-input>
      </ion-item>

      <p class="validationHint" *ngIf="hasError('floor', 'required')">{{ 'REQURIED' | translate }} </p>
      <p class="validationHint" *ngIf="hasError('floor', 'maxlength')">{{ 'MAX_LENGTH' | translate }} </p>

      <ion-item>
        <ion-label floating [style.transform-origin]="language == 'en' ? 'left top' : 'right top'">
          <ion-icon name="pin" item-start class="text-primary"></ion-icon>
          {{ 'FLAT_NUMBER' | translate }}
        </ion-label>
        <ion-input type="text" [(ngModel)]="address.flatNumber" formControlName="flatNumber" name="flatNumber"
          [dir]="direction"></ion-input>
      </ion-item>

      <p class="validationHint" *ngIf="hasError('flatNumber', 'required')">{{ 'REQURIED' | translate }} </p>
      <p class="validationHint" *ngIf="hasError('flatNumber', 'maxlength')">{{ 'MAX_LENGTH' | translate }} </p>


      <ion-item>
        <ion-label floating [style.transform-origin]="language == 'en' ? 'left top' : 'right top'">
          <ion-icon name="pin" item-start class="text-primary"></ion-icon>
          {{ 'OTHER_DETAILS' | translate }}
        </ion-label>
        <ion-input type="text" [(ngModel)]="address.otherDetails" formControlName="otherDetails" name="otherDetails"
          [dir]="direction"></ion-input>
      </ion-item>

      <p class="validationHint" *ngIf="hasError('otherDetails', 'maxlength')">{{ 'MAX_LENGTH' | translate }} </p>

      <!-- <ion-item>
        <ion-label floating [style.transform-origin]="language == 'en' ? 'left top' : 'right top'">
          <ion-icon name="call" item-start class="text-primary"></ion-icon>
          {{ 'MOBLIE_PHONE' | translate }}
        </ion-label>
        <ion-input type="number" [(ngModel)]="address.mobilePhoneNumber" formControlName="mobilePhoneNumber" name="mobilePhoneNumber"
          [lang]="language" [dir]="direction"></ion-input>
      </ion-item>

      <p class="validationHint" *ngIf="hasError('mobilePhoneNumber', 'required')"> {{ 'REQURIED' | translate }} </p>
      <p class="validationHint" *ngIf="hasError('mobilePhoneNumber', 'pattern')">{{ 'PHONE_NUMBER' | translate }} </p>

      <ion-item>
        <ion-label floating [style.transform-origin]="language == 'en' ? 'left top' : 'right top'">
          <ion-icon name="call" item-start class="text-primary"></ion-icon>
          {{ 'HOME_PHONE' | translate }}
        </ion-label>
        <ion-input type="number" [(ngModel)]="address.homePhoneNumber" formControlName="homePhoneNumber" name="homePhoneNumber" [lang]="language"
          [dir]="direction"></ion-input>
      </ion-item>

      <p class="validationHint" *ngIf="hasError('homePhoneNumber', 'pattern')">{{ 'PHONE_NUMBER' | translate }} </p> -->

    </form>

    <div margin-top style="margin-bottom: 40px;">
     
            <button ion-button block color="dark" tappable (click)="next()" [disabled]="!myForm.valid">
              {{ 'NEXT' | translate }}
            </button>
          
    </div>
  </div>
  <div [ngStyle]="mapStyle">
    <ion-grid [ngStyle]="mapStyle">
      <ion-row [ngStyle]="mapStyle">
        <ion-col [ngStyle]="mapStyle">
          <div #map id="map" [ngStyle]="mapStyle"></div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="latitudeValue == '0'">
        <ion-col col-6 >
          <div margin-top *ngIf="openMap">
            <button ion-button block color="dark" tappable (click)="skip()" [disabled]="notChanges()">
              {{ 'SAVE_WITHOUT_LOCATION' | translate }}
            </button>
          </div>
        </ion-col>
        <ion-col col-6>
          <div margin-top *ngIf="openMap">
            <button ion-button block color="dark" tappable (click)="chooseLocation()" [disabled]="notChanges() ||  mainMarker == null">
              {{ 'SAVE_CHANGES' | translate }}
            </button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="latitudeValue != '0'">
          <ion-col col-12>
              <div margin-top *ngIf="openMap">
                <button ion-button block color="dark" tappable (click)="chooseLocation()" [disabled]="notChanges() ||  mainMarker == null">
                  {{ 'SAVE_CHANGES' | translate }}
                </button>
              </div>
            </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>