<ion-header *ngIf="!print">

  <ion-navbar>
    <ion-grid style="width: 100%">
      <ion-row>
        <ion-col col-1 style="max-width: 25px;" (click)="back()">
          <ion-buttons style="margin-block-start: 2px" class="btn-style">
            <button ion-button >
              <ion-icon [name]="language != 'en' ? 'arrow-round-forward' : 'arrow-round-back'"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>
        <ion-col col-11 [style.margin-top]="language == 'en' ? '5px' : '2px'">
          <ion-title [style.margin-top]="!isCordova && language != 'en' ? '3px' : '0px'">{{ 'ADD_ORDER' | translate }}</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>

</ion-header>

<!-- -->
<ion-content class="auth-page">
  <div class="login-content">

    <!-- Logo -->
    <!-- <div padding text-center *ngIf="!print">
      <div class="logo"></div>
      <h2 ion-text class="text-primary">
        {{ 'TLABATAC' | translate }}
      </h2>
    </div> -->

    <!-- Login form -->
    <form class="list-form" [formGroup]="myForm" (submit)="addOrderWithOutPrint($event)" *ngIf="!print">
        <button type="submit" class="button" hidden></button>
      <!-- <ion-item>
        <ion-label floating>
          <ion-icon name="person" item-start class="text-primary"></ion-icon>
          {{ 'USER' | translate }}
        </ion-label>
        <ion-select formControlName="userId">
          <ion-option *ngFor="let item of userList" [selected]="item.firstName ==item.firstName && item.lastName ==item.lastName" [value]="item.id">{{item.firstName}} {{item.lastName}} </ion-option>

        </ion-select>
      </ion-item> -->

      <!-- <p class="validationHint" *ngIf="hasError('userId', 'required' , myForm )"> {{ 'REQURIED' | translate }} </p> -->


      <ion-item *ngIf="userType != 'User'">
        <ion-label floating [style.transform-origin]="language == 'en' ? 'left top' : 'right top'">
          <ion-icon name="person" item-start class="text-primary"></ion-icon>
          {{ 'NAME' | translate }}
        </ion-label>
        <ion-input type="text" formControlName="name" name="name" [lang]="language" [dir]="direction"></ion-input>
      </ion-item>

      <p class="validationHint" *ngIf="hasError('name', 'required' , myForm)"> {{ 'REQURIED' | translate }} </p>
      <p class="validationHint" *ngIf="hasError('name', 'maxlength' , myForm)">{{ 'MAX_LENGTH' | translate }} </p>


      <ion-item>
        <ion-label floating [style.transform-origin]="language == 'en' ? 'left top' : 'right top'">
          <ion-icon name="call" item-start class="text-primary"></ion-icon>
          {{ 'PHONE' | translate }}
        </ion-label>
        <ion-input type="number" formControlName="phone" name="phone" [lang]="language" [dir]="direction"></ion-input>
      </ion-item>

      <p class="validationHint" *ngIf="hasError('phone', 'required' , myForm)"> {{ 'REQURIED' | translate }} </p>
      <p class="validationHint" *ngIf="hasError('phone', 'pattern' , myForm)">{{ 'PHONE_NUMBER' | translate }} </p>

      <ion-item>
        <ion-label floating [style.transform-origin]="language == 'en' ? 'left top' : 'right top'">
          <ion-icon name="call" item-start class="text-primary"></ion-icon>
          {{ 'SECOND_PHONE' | translate }}
        </ion-label>
        <ion-input type="number" formControlName="secondPhone" name="secondPhone" [lang]="language" [dir]="direction"></ion-input>
      </ion-item>

      <p class="validationHint" *ngIf="hasError('secondPhone', 'pattern' , myForm)">{{ 'PHONE_NUMBER' | translate }} </p>

      <ion-item *ngIf="userType != 'User'">
        <ion-label floating [style.transform-origin]="language == 'en' ? 'left top': 'right top'">
          <ion-icon name="pin" item-start class="text-primary"></ion-icon>
          {{ 'CITY' | translate }}
        </ion-label>
        <ion-select [okText]="okText" [cancelText]="cancelText" formControlName="city" [placeholder]="alexValue" [(ngModel)]="alex" [lang]="language" [dir]="direction">
          <ion-option [selected]="alex == item" [value]="'Alexandria'" [dir]="direction">{{'ALEX' | translate}} </ion-option>
          <ion-option [selected]="alex == item" [value]="'Cairo'" [dir]="direction">{{'CAIRO' | translate}} </ion-option>
          <ion-option [selected]="alex == item" [value]="'Tanta'" [dir]="direction">{{'TANTA' | translate}} </ion-option>
          <ion-option [selected]="alex == item" [value]="'Damnhor'" [dir]="direction">{{'DAMNHOR' | translate}} </ion-option>
          <ion-option [selected]="alex == item" [value]="'Shibin Elkom'" [dir]="direction">{{'SHIPIN_ELKOM' | translate}} </ion-option>
          <ion-option [selected]="alex == item" [value]="'Banha'" [dir]="direction">{{'BANHA' | translate}} </ion-option>

        </ion-select>
      </ion-item>
      <p class="validationHint" *ngIf="hasError('city', 'required' , myForm)"> {{ 'REQURIED' | translate }} </p>

      <ion-item *ngIf="userType == 'User'">
        <ion-label floating [style.transform-origin]="language == 'en' ? 'left top': 'right top'">
          <ion-icon name="pin" item-start class="text-primary"></ion-icon>
          {{ 'FROM_ADDRESS' | translate }}
        </ion-label>
        <ion-input type="text" formControlName="fromAddress" name="fromAddress" [lang]="language" [dir]="direction"></ion-input>
      </ion-item>

      <p class="validationHint" *ngIf="hasError('fromAddress', 'required' , myForm)"> {{ 'REQURIED' | translate }} </p>
      <p class="validationHint" *ngIf="hasError('fromAddress', 'maxlength' , myForm)">{{ 'MAX_LENGTH' | translate }} </p>


      <ion-item *ngIf="userType != 'User'">
        <ion-label floating [style.transform-origin]="language =='en'? 'left top': 'right top'">
          <ion-icon name="pin" item-start class="text-primary"></ion-icon>
          {{ 'FULL_ADDRESS' | translate }} 1
        </ion-label>
        <ion-input type="text" formControlName="address1" name="address1" [lang]="language" [dir]="direction"></ion-input>
      </ion-item>

      <p class="validationHint" *ngIf="hasError('address1', 'required' , myForm)"> {{ 'REQURIED' | translate }} </p>
      <p class="validationHint" *ngIf="hasError('address1', 'maxlength' , myForm)">{{ 'MAX_LENGTH' | translate }} </p>

      <ion-item *ngIf="userType != 'User'">
        <ion-label floating [style.transform-origin]="language =='en'? 'left top': 'right top'" *ngIf="userType != 'User'">
          <ion-icon name="pin" item-start class="text-primary"></ion-icon>
          {{ 'FULL_ADDRESS' | translate }} 2
        </ion-label>
        <ion-input type="text" formControlName="address2" name="address2" [lang]="language" [dir]="direction"></ion-input>
      </ion-item>

      <p class="validationHint" *ngIf="hasError('address2', 'required' , myForm)"> {{ 'REQURIED' | translate }} </p>
      <p class="validationHint" *ngIf="hasError('address2', 'maxlength' , myForm)">{{ 'MAX_LENGTH' | translate }} </p>



      <!-- <form class="list-form" *ngFor="let item of order.orders;let count = index" [formGroup]="forms[count]"> -->
      <!-- <ion-item>
        <ion-label floating [style.transform-origin]="language =='en'? 'left top': 'right top'">
          <ion-icon name="reorder" item-start class="text-primary"></ion-icon>
          {{ 'ORDER' | translate }}
        </ion-label>
        <ion-input type="text" name="item+count" (input)="change()" formControlName="order" [lang]="language" [dir]="direction"></ion-input>
      </ion-item>
      <p class="validationHint" *ngIf="hasError('order', 'required' , myForm)"> {{ 'REQURIED' | translate }} </p>
      <p class="validationHint" *ngIf="hasError('order', 'maxlength' , myForm)">{{ 'MAX_LENGTH' | translate }} </p> -->

      <!-- </form>    -->

    </form>
    <ion-buttons end class="btn-style" *ngIf="!print">
      <button class="myButton" style="padding: 0px 15px" ion-button (click)="add()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>

    <ion-grid margin-top style="margin-bottom: 40px;" *ngIf="!print">
      <ion-row *ngIf="platfromType == 'not-cordova' && userType != 'User'">
        <ion-col col-6>
          <button ion-button block text-wrap class="myButton" tappable (click)="addOrder($event)" [disabled]="!myForm.valid || ordersArray.length == 0">
              {{ 'ADD_ORDER_BUTTON_WITH_PRINT' | translate }}
           
          </button>
        </ion-col>
        <ion-col col-6>
          <button ion-button block text-wrap class="myButton" tappable (click)="addOrderWithOutPrint($event)" [disabled]="!myForm.valid || ordersArray.length == 0">
              {{ 'ADD_ORDER_BUTTON' | translate }}
          </button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="platfromType == 'cordova' || userType == 'User'">
        
        <ion-col col-12>
          <button ion-button block text-wrap class="myButton" tappable (click)="addOrderWithOutPrint($event)" [disabled]="!myForm.valid || ordersArray.length == 0">
              {{ 'ADD_ORDER_BUTTON' | translate }}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="account-info info-div" *ngIf="!print">
      <ion-item class="item-background" *ngIf="ordersArray.length == 0">
        <p text-center>
          <strong text-wrap>{{'NO_ITEMS_YET' | translate}}</strong>
        </p>
      </ion-item>
      <ion-item class="item-background" *ngFor="let or of ordersArray">
        <p>
          {{'NAME' | translate}} :
          <strong text-wrap>{{or.name}}</strong>
        </p>
        <p>
          {{'PRICE' | translate}} :
          <strong text-wrap>{{or.price}}</strong>
        </p>
      </ion-item>
    </div>



    <div id="print" *ngIf="print">

      <div class="account-info info-div">
        <p>
          {{ 'NAME' | translate }} :
          <strong text-wrap>{{order1.name}}</strong>
        </p>
        <p>
          {{ 'ADDRESS' | translate }} 1 :
          <strong text-wrap>{{order1.address}}</strong>
        </p>
        <p *ngIf="order1.secondAddress != null && order1.secondAddress != ''">
          {{ 'ADDRESS' | translate }} 2 :
          <strong text-wrap>{{order1.secondAddress}}</strong>
        </p>
        <p>
          {{ 'PHONE_NUMBER_PHONE' | translate }} 1 :
          <strong text-wrap>{{order1.firstPhone}}</strong>
        </p>
        <p *ngIf="order1.secondPhone != null && order1.secondPhone != ''">
          {{ 'PHONE_NUMBER_PHONE' | translate }} 2 :
          <strong text-wrap>{{order1.secondPhone}}</strong>
        </p>

      </div>
      <div class="account-info info-div2">
        <ion-item class="item-background2">
          <ion-grid style="padding: 0px">
            <ion-row style="padding: 0px">
              <ion-col col-6>
                <p>
                  {{'NAME' | translate}}
                </p>
              </ion-col>
              <ion-col col-1 style="padding: 0px">
                <p>
                  <strong text-wrap>|</strong>
                </p>
              </ion-col>
              <ion-col col-5 style="padding: 0px">
                <p text-center>
                  {{'PRICE' | translate}}
                </p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item class="item-background2" *ngFor="let sub of ordersArray">
          <ion-grid style="padding: 0px">
            <ion-row style="padding: 0px">
              <ion-col col-6 style="padding: 0px">
                <p>
                  <strong text-wrap>{{sub.name}}</strong>
                </p>
              </ion-col>
              <ion-col col-1 style="padding: 0px">
                <p>
                  <strong text-wrap>|</strong>
                </p>
              </ion-col>
              <ion-col col-5 style="padding: 0px">
                <p text-center>
                  <strong text-wrap>{{sub.price}}</strong>
                </p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item class="item-background2">
          <ion-grid style="padding: 0px">
            <ion-row style="padding: 0px">
              <ion-col col-6 style="padding: 0px">
                <p>
                  <strong text-wrap>{{'DELIVER_PRICE' | translate}}</strong>
                </p>
              </ion-col>
              <ion-col col-1 style="padding: 0px">
                <p>
                  <strong text-wrap>|</strong>
                </p>
              </ion-col>
              <ion-col col-5 style="padding: 0px">
                <p text-center>
                  <strong text-wrap>10.0</strong>
                </p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item class="item-background2">
          <ion-grid style="padding: 0px">
            <ion-row style="padding: 0px">
              <ion-col col-6 style="padding: 0px">
                <p>
                  <strong text-wrap>{{'TOTAL' | translate}}</strong>
                </p>
              </ion-col>
              <ion-col col-1 style="padding: 0px">
                <p>
                  <strong text-wrap>|</strong>
                </p>
              </ion-col>
              <ion-col col-5 style="padding: 0px">
                <p text-center>
                  <strong text-wrap>{{getTotal()}}</strong>
                </p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </div>
    </div>
  </div>


</ion-content>