<ion-header>
  <ion-navbar>
    <ion-title>
      Welcome, {{account?.firstName}}!
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="logout()" id="logout">
        Logout
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content text-center class="auth-page">


  <ion-grid>
    <ion-row>
      <ion-col>
        <div margin-top>
          <button ion-button round color="dark" tappable (click)="openCaptains()">
            {{ 'CAPTAIN' | translate }}
          </button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf = "userType == 'admin'">
      <ion-col>
        <div margin-top>
          <button ion-button round color="dark" tappable (click)="save()">
            {{ 'ONLINE_SHIPPING' | translate }}
          </button>
        </div>


      </ion-col>
      <ion-col>
        <div margin-top>
          <button ion-button round color="dark" tappable (click)="save()">
            {{ 'PARTNER' | translate }}
          </button>
        </div>


      </ion-col>
    </ion-row>
    <ion-row *ngIf="userType == 'agency'">
      <ion-col>
        <div margin-top>
          <button ion-button round color="dark" tappable (click)="openCustomer()">
            Orders
          </button>
        </div>
      </ion-col>
    </ion-row>
  
  <ion-row *ngIf="userType == 'admin'">
      <ion-col>
        <div margin-top>
          <button ion-button round color="dark" tappable (click)="openAgency()">
            Agency
          </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>