<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>
      {{ 'DASHBOARD' | translate }}
    </ion-title>
    <ion-buttons end class="btn-style">
        <button ion-button (click)="toggleSearch()">
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="auth-page2">
  <!-- <section text-center margin-bottom>
    <ion-icon name="person"></ion-icon>
    <h1 style="font-size:1.4em" no-margin>{{ 'WELCOME' | translate }}, <br>
      {{account?.firstName}} {{account?.lastName}}</h1>
  </section> -->
  <div class="login-content">

      <form class="list-form" [formGroup]="myForm" style="width: 86%;margin-right: 7%;margin-left: 7%;"  *ngIf="seachFlag">

          <ion-item>
              <ion-label floating [style.transform-origin]="language == 'en' ? 'left top' : 'right top'">
                <ion-icon name="person" item-start class="text-primary"></ion-icon>
                {{ 'CAPTAIN' | translate }}
              </ion-label>
              <ion-select [okText]="okText" [cancelText]="cancelText" formControlName="captainId" [lang]="language" [dir]="direction">
                <ion-option *ngFor="let item of captainList" [selected]="item.name ==item.name" [value]="item.id" [dir]="direction">{{item.name}} </ion-option>      
              </ion-select>
            </ion-item>
            <ion-item>
                <ion-label floating [style.transform-origin]="language == 'en' ? 'left top' : 'right top'">
                  <ion-icon name="calendar" item-start class="text-primary"></ion-icon>
                  {{ 'START_DATE' | translate }}
                </ion-label>
                <ion-datetime [doneText]="doneText" [cancelText]="cancelText" displayFormat="YYYY-MM-DD" max="{{maxDate}}" formControlName="startDate" [(ngModel)] ="seaarchFilter.startDate" [lang]="language" [dir]="direction"></ion-datetime>
              </ion-item>
              <ion-item>
                  <ion-label floating [style.transform-origin]="language == 'en' ? 'left top' : 'right top'">
                    <ion-icon name="calendar" item-start class="text-primary"></ion-icon>
                    {{ 'END_DATE' | translate }}
                  </ion-label>
                  <ion-datetime [doneText]="doneText" [cancelText]="cancelText" displayFormat="YYYY-MM-DD" max="{{maxDate}}" formControlName="endDate" [(ngModel)] ="seaarchFilter.endDate" [lang]="language" [dir]="direction"></ion-datetime>
                </ion-item>
        </form>

        <ion-grid style="padding-right: 0px;padding-left: 0px;" *ngIf="seachFlag">

            <ion-row style="padding-right: 5px;padding-left: 5px;">
                <ion-col style="padding-right: 5px;padding-left: 5px;" col-6>
                  <ion-buttons end >
                    <button ion-button class="myButton" (click)="getAdminStatistcs()" style="width: 100%;">
                      {{ 'SEARCH' | translate }}
                    </button>
                  </ion-buttons>
                </ion-col>
                <ion-col style="padding-right: 5px;padding-left: 5px;" col-6>
                  <ion-buttons end  [style.padding-right] = "language == 'en' ? '3px' : '0px'" [style.padding-left] = "language != 'en' ? '3px' : '0px'">
                    <button ion-button class="myButton" (click)="clear()" style="width: 100%;">
                      {{ 'CLEAR_FIELDS' | translate }}
                    </button>
                  </ion-buttons>
      
                </ion-col>
      
              </ion-row>

        </ion-grid>
      


    <ion-grid [ngClass]="{'search': !seachFlag , 'not-search': seachFlag}">
      <ion-row>
        <ion-col col-6>
          <ion-card text-center style="height: 100%;" padding color="#4c6df9">
            <ion-icon name="clock" class="ion-icon2"></ion-icon>
            <h2>{{ 'DELIVER_TIME_AVERAGE' | translate }}</h2>
            <h1>{{statistic?.deliverTimeAverage}}</h1>
          </ion-card>
        </ion-col>
        <ion-col col-6>
          <ion-card text-center style="height: 100%;" padding color="#4c6df9">
            <ion-icon name="basket" class="ion-icon2"></ion-icon>
            <h2>{{ 'ORDER_COUNT_AVERAGE' | translate }}</h2>
            <h1>{{statistic?.ordersByDayAverage}}</h1>
          </ion-card>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
  
</ion-content>