<!--
  Generated template for the UserOrdersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title *ngIf="userType!='User'">{{ 'USER_ORDERS' | translate }}</ion-title>
    <ion-title *ngIf="userType=='User'">{{'MY_ORDERS' | translate}}</ion-title>
    <ion-buttons end class="btn-style">
      <button ion-button class="myButton" style="box-shadow: 0px 0px 0px 0px #9fb4f2;text-shadow: 0px 0px 0px #283966;border: 0px solid #263973;" (click)="add()" *ngIf="userType=='User'">
        {{ 'ADD' | translate }}
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="auth-page-captain">

  <ion-grid style="width: 100%" *ngIf="userType=='Admin'">
    <ion-row>
      <ion-col style="padding: 0px" col-4>
        <button ion-button block tappable [ngClass]="{'tap-selected': myVar == 'not assigned', 'tap-notselected': myVar != 'not assigned'}"
          (click)="getUserOrders('not assigned' , 0)">
          <!-- <ion-icon name="close" item-start></ion-icon> -->
          {{ 'NOT_ASSIGNED' | translate }}
        </button>
      </ion-col>
      <ion-col style="padding: 0px" col-4>
        <button ion-button block tappable [ngClass]="{'tap-selected': myVar == 'assigned', 'tap-notselected': myVar != 'assigned'}"
          (click)="getUserOrders('assigned' , 0)">
          <!-- <ion-icon name="stats" item-start></ion-icon> -->
          {{ 'ASSIGNED' | translate }}
        </button>
      </ion-col>
      <ion-col style="padding: 0px" col-4>
        <button ion-button block tappable [ngClass]="{'tap-selected': myVar == 'delivered', 'tap-notselected': myVar != 'delivered'}"
          (click)="getUserOrders('delivered' , 0)">
          <!-- <ion-icon name="checkmark" item-start></ion-icon> -->
          {{ 'DELIVERED' | translate }}
        </button>
      </ion-col>
    </ion-row>


  </ion-grid>
  <ion-grid style="width: 100%" *ngIf="userType=='Captain'">
    <ion-row>

      <ion-col style="padding: 0px" col-6>
        <button ion-button block tappable [ngClass]="{'tap-selected': myVar == 'assigned', 'tap-notselected': myVar != 'assigned'}"
          (click)="getUserOrders('assigned' , 0)">
          <!-- <ion-icon name="stats" item-start></ion-icon> -->
          {{ 'ASSIGNED' | translate }}
        </button>
      </ion-col>
      <ion-col style="padding: 0px" col-6>
        <button ion-button block tappable [ngClass]="{'tap-selected': myVar == 'delivered', 'tap-notselected': myVar != 'delivered'}"
          (click)="getUserOrders('delivered' , 0)">
          <!-- <ion-icon name="checkmark" item-start></ion-icon> -->
          {{ 'DELIVERED' | translate }}
        </button>
      </ion-col>
    </ion-row>


  </ion-grid>


  <div text-center *ngIf="ordersList.length == 0">
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="../../assets/img/sad.png" class="not-found-img">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>

          <h3 class="not-found-text" *ngIf="userType=='User'"> {{ 'ADD__ORDER' | translate }}</h3>
          <h3 class="not-found-text" *ngIf="myVar == 'delivered' && userType=='Admin'"> {{ 'NO_DELIVERED_ORDER' | translate }}</h3>
          <h3 class="not-found-text" *ngIf="myVar != 'delivered' && (userType=='Captain' || userType=='Admin')"> {{ 'NO_NEW_ORDERS' | translate }}</h3>
          <h3 class="not-found-text" *ngIf="myVar == 'delivered' && userType=='Captain'"> {{ 'NO_DELIVERED_ORDERS' | translate }}</h3>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>




  <ion-list style="padding-top: 15px;">


    <ion-item class="item-background" *ngFor="let order of ordersList">
      <ion-grid>
        <ion-row>
          <ion-col (click)="viewDetails(order)" class="img-col" col-3>
            <img class="circle-pic" src="../../assets/img/orders.jpg" *ngIf="!order.userOrder.reciverImage  || order.userOrder.reciverImage == 'O'"
            />
            <img class="circle-pic" style="max-width: 150px;" *ngIf="order.userOrder.reciverImage  && order.userOrder.reciverImage != 'O'"
              [src]="['data:image/jpg;base64',order.userOrder.reciverImage]" />
          </ion-col>

          <ion-col>

            <div class="account-info info-div" (click)="viewDetails(order)">
              <p>
                {{ 'IDENTIFY_NUMBER' | translate }} :
                <strong text-wrap>{{order.userOrder.identifyNumber}}</strong>
              </p>
              <p style="padding-top: 5px" *ngIf="userType == 'User'">
                {{ 'STATUS' | translate }} :
                <strong text-wrap *ngIf="order.userOrder.status == 'not assigned'"> {{ 'USER_ORDER_NOT_ASSIGNED' | translate }}</strong>
                <strong text-wrap *ngIf="order.userOrder.status == 'assigned' && !order.userOrder.isTaken">{{ 'ASSIGNED' | translate }}</strong>
                <strong text-wrap *ngIf="order.userOrder.status == 'assigned' && order.userOrder.isTaken">{{ 'RECIVED_FROM_SENDER' | translate }}</strong>
                <strong text-wrap *ngIf="order.userOrder.status == 'delivered'"> {{ 'DELIVERED' | translate }}</strong>
              </p>
              <p style="padding-top: 5px">
                {{'CREATION_DATE' | translate}} :
                <strong text-wrap>{{getFormattedDate(order.userOrder.creationDate)}}</strong>
              </p>
              <p style="padding-top: 5px" *ngIf="userType != 'User'">
                {{'USER_PHONE' | translate}} :
                <strong text-wrap>{{order.user.phone}}</strong>
              </p>
              
              <!-- <p *ngIf="order.userOrder.isBuing">
                {{ 'MARKET_NAME' | translate }} :
                <strong text-wrap>{{order.userOrder.marketName}}</strong>
              </p>
              <p *ngIf="order.userOrder.isBuing && order.userOrder.marketAddress != null && order.userOrder.marketAddress != undefined && order.userOrder.marketAddress != ''">
                {{ 'MARKET_ADDRESS' | translate }} :
                <strong text-wrap>{{order.userOrder.marketAddress}}</strong>
              </p>
              <p *ngIf="order.userOrder.isBuing && order.userOrder.marketPhone != null && order.userOrder.marketPhone != undefined && order.userOrder.marketPhone != ''">
                {{ 'MARKET_PHONE' | translate }} :
                <strong text-wrap>{{order.userOrder.marketPhone}}</strong>
              </p>
              <p *ngIf="order.userOrder.isBuing">
                {{ 'PRICE_RANGE' | translate }} :
                <strong text-wrap>{{order.userOrder.priceRange}}</strong>
              </p> 
              <p>
                {{ 'PRODUCT_DESCRIPTION' | translate }} :
                <strong text-wrap>{{order.userOrder.description}}</strong>
              </p>
              <p *ngIf="!order.userOrder.isBuing">
                {{ 'APPROXIMATE_WEIGHT' | translate }} :
                <strong text-wrap>{{order.userOrder.weight}}</strong>
              </p>
              <p *ngIf="!order.userOrder.isBuing && order.senderAddress != null" (click)="viewLocation(order.senderAddress)">
                {{ 'SENDER_ADDRESS' | translate }} :
                  <strong text-wrap>{{order.senderAddress.city}} , {{order.senderAddress.region}} , {{order.senderAddress.street}} , {{order.senderAddress.building}} , {{order.senderAddress.floor}}
                    , {{order.senderAddress.flatNumber}}</strong>
              </p>
              <p *ngIf="order.userOrder.senderPhone != null">
                {{ 'SENDER_PHONE' | translate }} :
                <strong text-wrap>{{order.userOrder.senderPhone}}</strong>
              </p>
              <p *ngIf="order.userOrder.reciverName != null">
                {{ 'RECIVER_NAME' | translate }} :
                <strong text-wrap>{{order.userOrder.reciverName}}</strong>
              </p>
              <p *ngIf="order.reciverAddress != null" (click)="viewLocation(order.reciverAddress)">
                {{ 'RECIVER_ADDRESS' | translate }} :
                  <strong text-wrap>{{order.reciverAddress.city}} , {{order.reciverAddress.region}} , {{order.reciverAddress.street}} , {{order.reciverAddress.building}} ,
                    {{order.reciverAddress.floor}} , {{order.reciverAddress.flatNumber}}</strong>
              </p>
              <p *ngIf="order.userOrder.reciverPhone != null">
                {{ 'RECIVER_PHONE' | translate }} :
                <strong text-wrap>{{order.userOrder.reciverPhone}}</strong>
              </p> -->
            </div>
            <div *ngIf="order.captain != null && userType == 'Admin'" class="account-info info-div">
                <p (click)="viewCaptainDetails(order.captain)">
                    {{ 'CAPTAIN_NAME' | translate }} :
                    <strong text-wrap>{{order.captain.name}}</strong>
                  </p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row *ngIf="userType!='Captain'">
          <ion-col >
            <ion-buttons end class="btn-style" style="width: 100%" *ngIf="myVar != 'delivered' && userType=='Admin'">
              <button class="myButton" ion-button style="width: 100%" (click)="assingCaptain(order)">
                {{ 'ASSIGN_CAPTAIN' | translate }}
              </button>
            </ion-buttons>

            <ion-buttons end class="btn-style" style="width: 100%" *ngIf="myVar == 'assigned' && userType=='Captain'">
              <button class="myButton" ion-button style="width: 100%" (click)="finish(order)">
                {{ 'DELIVER' | translate }}
              </button>
            </ion-buttons>

            <ion-buttons end class="btn-style" style="width: 100%" *ngIf="userType=='User'">
                <button class="myButton" ion-button style="width: 100%" (click)="editRating(order)">
                  {{ 'EDIT_RATING_BUTTON' | translate }}
                </button>
              </ion-buttons>

          </ion-col>
          <!-- <ion-col col-6>
            <ion-buttons end class="btn-style" style="width: 100%;" *ngIf="myVar != 'delivered' && (userType=='Captain' || userType=='Admin')">
              <button ion-button (click)="viewLocation(order)" style="width: 100%;">
                {{ 'VIEW_LOCATION' | translate }}
              </button>
            </ion-buttons>
          </ion-col> -->
        </ion-row>
        <ion-row *ngIf=" userType =='Captain' && !order.userOrder.isTaken && !order.userOrder.isBuing">
          
            <ion-col col-12 style="padding-bottom: 0px;">

                <ion-buttons end class="btn-style" style="width: 100%" *ngIf="myVar == 'assigned' && userType=='Captain' && !order.userOrder.isTaken">
                  <button ion-button  class="myButton" style="width: 100%" (click)="takeOrder(order)">
                    {{ 'TAKE_ORDER_FROM_SENDER' | translate }}
                  </button>
                </ion-buttons>
    
              </ion-col>

        </ion-row>
        <ion-row *ngIf=" userType =='Captain' && !order.userOrder.isTaken && !order.userOrder.isBuing">
          
          <ion-col col-12 style="padding-top: 0px;">

            <ion-buttons end class="btn-style" style="width: 100%" *ngIf="myVar == 'assigned' && userType=='Captain'">
              <button ion-button class="myButton" style="width: 100%" (click)="finish(order)">
                {{ 'DELIVER' | translate }}
              </button>
            </ion-buttons>

          </ion-col>
      </ion-row>
        <ion-row *ngIf=" userType =='Captain' && (order.userOrder.isTaken || order.userOrder.isBuing) ">
          <ion-col col-12>

            <ion-buttons end class="btn-style" style="width: 100%" *ngIf="myVar == 'assigned' && userType=='Captain'">
              <button ion-button class="myButton" style="width: 100%" (click)="finish(order)">
                {{ 'DELIVER' | translate }}
              </button>
            </ion-buttons>

          </ion-col>

        </ion-row>

      </ion-grid>

    </ion-item>



  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="ordersList.length != 0">
    <ion-infinite-scroll-content loadingSpinner="bubbles" [loadingText]="moreData">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>