<!--
  Generated template for the UserOrdersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>{{ 'USER_ORDERS' | translate }}</ion-title>
    <ion-buttons end class="btn-style">
      <button ion-button (click)="add()" *ngIf="userType=='User'">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="auth-page-captain">

  <ion-grid style="width: 100%" *ngIf="userType=='Admin'">
    <ion-row>
      <ion-col style="padding: 0px" col-4>
        <button ion-button block tappable [ngClass]="{'tap-selected': myVar == 'not assigned', 'tap-notselected': myVar != 'not assigned'}"
          (click)="getUserOrders('not assigned' , 0)">
          <!-- <ion-icon name="close" item-start></ion-icon> -->
          {{ 'NOT_ASSIGNED' | translate }}
        </button>
      </ion-col>
      <ion-col style="padding: 0px" col-4>
        <button ion-button block tappable [ngClass]="{'tap-selected': myVar == 'assigned', 'tap-notselected': myVar != 'assigned'}"
          (click)="getUserOrders('assigned' , 0)">
          <!-- <ion-icon name="stats" item-start></ion-icon> -->
          {{ 'ASSIGNED' | translate }}
        </button>
      </ion-col>
      <ion-col style="padding: 0px" col-4>
        <button ion-button block tappable [ngClass]="{'tap-selected': myVar == 'delivered', 'tap-notselected': myVar != 'delivered'}"
          (click)="getUserOrders('delivered' , 0)">
          <!-- <ion-icon name="checkmark" item-start></ion-icon> -->
          {{ 'DELIVERED' | translate }}
        </button>
      </ion-col>
    </ion-row>


  </ion-grid>
  <ion-grid style="width: 100%" *ngIf="userType=='Captain'">
    <ion-row>

      <ion-col style="padding: 0px" col-6>
        <button ion-button block tappable [ngClass]="{'tap-selected': myVar == 'assigned', 'tap-notselected': myVar != 'assigned'}"
          (click)="getUserOrders('assigned' , 0)">
          <!-- <ion-icon name="stats" item-start></ion-icon> -->
          {{ 'ASSIGNED' | translate }}
        </button>
      </ion-col>
      <ion-col style="padding: 0px" col-6>
        <button ion-button block tappable [ngClass]="{'tap-selected': myVar == 'delivered', 'tap-notselected': myVar != 'delivered'}"
          (click)="getUserOrders('delivered' , 0)">
          <!-- <ion-icon name="checkmark" item-start></ion-icon> -->
          {{ 'DELIVERED' | translate }}
        </button>
      </ion-col>
    </ion-row>


  </ion-grid>


  <div text-center *ngIf="ordersList.length == 0">
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="../../assets/img/sad.png" class="not-found-img">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>

          <h3 class="not-found-text"> {{ 'EMPTY_LIST' | translate }}</h3>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>




  <ion-list style="padding-top: 15px;">


    <ion-item class="item-background" *ngFor="let order of ordersList">
      <ion-grid>
        <ion-row>
          <ion-col class="img-col" col-3>
            <img class="circle-pic" src="../../assets/img/orders.jpg" />
          </ion-col>

          <ion-col col-9>

            <div class="account-info info-div">
              <p>
                {{ 'NAME' | translate }} :
                <strong text-wrap>{{order.name}}</strong>
              </p>
              <p>
                {{ 'FROM' | translate }} :
                <strong text-wrap>{{order.fromAddress}}</strong>
              </p>
              <!--  <li style="margin-left: 22px;margin-right: 22px"></li>  <br/>  -->
              <p>
                {{ 'TO' | translate }} :
                <strong text-wrap>{{order.street}} , {{order.addressCity}} , {{order.country}}</strong>
              </p>
              <p>
                {{ 'PHONE_NUMBER_PHONE' | translate }} 1 :
                <strong text-wrap>{{order.firstPhone}}</strong>
              </p>
              <p *ngIf="order.secondPhone != null && order.secondPhone != ''">
                {{ 'PHONE_NUMBER_PHONE' | translate }} 2 :
                <strong text-wrap>{{order.secondPhone}}</strong>
              </p>
              <p>
                {{ 'ORDERS' | translate }} :-
              </p>
              <!-- <div *ngFor="let item of viewOrder(order.orders)">
                <p style="margin-left: 15px;margin-right: 15px">
                  {{item.index}}-
                  <strong text-wrap>{{item.name}}</strong>
                </p>
              </div> -->
            </div>
          </ion-col>
        </ion-row>
        </ion-grid>
        <div class="account-info info-div2">
            <ion-item class="item-background2">
              <ion-grid style="padding: 0px">
                <ion-row style="padding: 0px">
                  <ion-col col-6>
                    <p>
                      {{'NAME' | translate}}
                    </p>
                  </ion-col>
                  <ion-col col-1 style="padding: 0px">
                      <p>
                        <strong text-wrap>|</strong>
                      </p>
                    </ion-col>
                  <ion-col col-5 style="padding: 0px">
                    <p text-center>
                      {{'PRICE' | translate}}
                    </p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
            <ion-item class="item-background2" *ngFor="let sub of order.subOrders">
              <ion-grid style="padding: 0px">
                <ion-row style="padding: 0px">
                  <ion-col col-6 style="padding: 0px">
                    <p>
                      <strong text-wrap>{{sub.name}}</strong>
                    </p>
                  </ion-col>
                  <ion-col col-1 style="padding: 0px">
                      <p>
                        <strong text-wrap>|</strong>
                      </p>
                    </ion-col>
                  <ion-col col-5 style="padding: 0px">
                    <p text-center>
                      <strong text-wrap>{{sub.price}}</strong>
                    </p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
            <ion-item class="item-background2">
              <ion-grid style="padding: 0px">
                <ion-row style="padding: 0px">
                  <ion-col col-6 style="padding: 0px">
                    <p>
                      <strong text-wrap>{{'DELIVER_PRICE' | translate}}</strong>
                    </p>
                  </ion-col>
                  <ion-col col-1 style="padding: 0px">
                      <p>
                        <strong text-wrap>|</strong>
                      </p>
                    </ion-col>
                  <ion-col col-5 style="padding: 0px">
                    <p text-center>
                      <strong text-wrap>10.0</strong>
                    </p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
            <ion-item class="item-background2">
              <ion-grid style="padding: 0px">
                <ion-row style="padding: 0px">
                  <ion-col col-6 style="padding: 0px">
                    <p>
                      <strong text-wrap>{{'TOTAL' | translate}}</strong>
                    </p>
                  </ion-col>
                  <ion-col col-1 style="padding: 0px">
                      <p>
                        <strong text-wrap>|</strong>
                      </p>
                    </ion-col>
                  <ion-col col-5 style="padding: 0px">
                    <p text-center>
                      <strong text-wrap>{{order.total}}</strong>
                    </p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </div>

        <ion-grid>
        <ion-row>
          <ion-col col-6>
            <ion-buttons end class="btn-style" style="width: 100%" *ngIf="myVar != 'delivered' && userType=='Admin'">
              <button ion-button style="width: 100%" (click)="assingCaptain(order)">
                {{ 'ASSIGN_CAPTAIN' | translate }}
              </button>
            </ion-buttons>

            <ion-buttons end class="btn-style" style="width: 100%" *ngIf="myVar == 'assigned' && userType=='Captain'">
              <button ion-button style="width: 100%" (click)="finish(order)">
                {{ 'DELIVER' | translate }}
              </button>
            </ion-buttons>
          </ion-col>
          <ion-col col-6>
            <ion-buttons end class="btn-style" style="width: 100%;" *ngIf="myVar != 'delivered' && (userType=='Captain' || userType=='Admin')">
              <button ion-button (click)="viewLocation(order)" style="width: 100%;">
                {{ 'VIEW_LOCATION' | translate }}
              </button>
            </ion-buttons>
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-item>



  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="ordersList.length != 0">
    <ion-infinite-scroll-content loadingSpinner="bubbles" [loadingText]="moreData">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>