<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'SETTING'| translate}}</ion-title>
  </ion-navbar>

</ion-header>



<ion-content class="auth-page">

  

  <div class="login-content">
      <p text-center ion-text color="secondary">{{ 'CHANGE_PASSWORD' | translate }}</p>
    <!-- Login form -->
    <form class="list-form" [formGroup]="myForm">

        <ion-item>
            <ion-label floating [style.transform-origin]="language == 'en' ? 'left top' : 'right top'">
              <ion-icon name="lock" item-start class="text-primary"></ion-icon>
              {{ 'YOUR_PASSWORD' | translate }}
            </ion-label>
            <ion-input type="password" [(ngModel)]="passwordModel.currentPassword" name="oldpassword" formControlName="oldpassword" [lang]="language" [dir]="direction"></ion-input>
          </ion-item>
    
          <p class="validationHint" *ngIf="hasError('oldpassword', 'minlength')">{{ 'MIN_LENGTH' | translate }} </p>
          <p class="validationHint" *ngIf="hasError('oldpassword', 'required')"> {{ 'REQURIED' | translate }} </p>

      
      <ion-item>
        <ion-label floating [style.transform-origin]="language == 'en' ? 'left top' : 'right top'">
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          {{ 'NEW_PASSWORD' | translate }}
        </ion-label>
        <ion-input type="password" [(ngModel)]="passwordModel.newPassword" name="password" formControlName="password" [lang]="language" [dir]="direction"></ion-input>
      </ion-item>

      <p class="validationHint" *ngIf="hasError('password', 'minlength')">{{ 'MIN_LENGTH' | translate }} </p>
      <p class="validationHint" *ngIf="hasError('password', 'required')"> {{ 'REQURIED' | translate }} </p>

      <ion-item>
        <ion-label floating [style.transform-origin]="language == 'en' ? 'left top' : 'right top'">
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          {{ 'CONFIRM_PASSWORD' | translate }}
        </ion-label>
        <ion-input type="password" name="passwordConfirm" formControlName="passwordConfirm" [disabled] = "!myForm.get('password').valid || myForm.get('password').value.length == 0" [lang]="language" [dir]="direction"></ion-input>
      </ion-item>

      <p class="validationHint" *ngIf="hasError('passwordConfirm', 'required')"> {{ 'REQURIED' | translate }} </p>
      <p class="validationHint" *ngIf="notMathces()">{{ 'CONFIRM_PASSWORD_VALIDATE' | translate }} </p>

    </form>

    <div margin-top style="margin-bottom: 40px;">
      <button ion-button block color="dark" tappable (click)="EditPassword()" [disabled]="!myForm.valid || notMathces() || myForm.get('passwordConfirm').value.length == 0">
        {{ 'EDIT_PASSWORD_BUTTON' | translate }}
      </button>

    </div>
  </div>

</ion-content>