<ion-menu [side]="menuSide" id="authenticated" [content]="content" *ngIf = "account != null && (userType == 'Admin' || userType == 'Agency' || userType == 'Captain' || userType == 'User')">
  <ion-header *ngIf = "!isLogOut" >
    <ion-toolbar class="user-profile">

      <ion-grid>
        <ion-row> 
          <ion-col col-4>
              <div class="user-avatar" *ngIf = "userType == 'Admin' || userType == 'User' || userType == 'Agency' || (userType == 'Captain' && !captain)  || (userType == 'Captain' && captain && !captain.image)">
                <img src="../assets/img/person.png"  style="height: 62px;width: 62px">
              </div>
              <div class="user-avatar" *ngIf = "userType == 'Captain' && captain && captain.image">
                <img [src]="['data:image/jpg;base64',captain.image]"  style="height: 62px;width: 62px">
              </div>

          </ion-col>
          <ion-col padding-top col-8 *ngIf = "(userType != 'Captain' || !captain) && userType != 'User'">
            <h2 ion-text class="no-margin bold text-white">
              {{account?.firstName}} {{account?.lastName}}
            </h2>
            <span ion-text color="light">{{userTypeText}}</span>
          </ion-col>
          <ion-col padding-top col-8 *ngIf = "userType == 'User'">
              <h2 ion-text class="no-margin bold text-white">
                {{account?.firstName}}
              </h2>
              <span ion-text color="light">{{userTypeText}}</span>
            </ion-col>
          <ion-col padding-top col-8 *ngIf = "(userType == 'Captain' && captain)">
            <h2 ion-text class="no-margin bold text-white">
              {{captain?.name}}
            </h2>
            <span ion-text color="light">{{userTypeText}}</span>
          </ion-col>
        </ion-row>

        <ion-row no-padding class="other-data">
          <!-- <ion-col no-padding class="column">
            <button ion-button icon-left small full color="light" menuClose disabled>
              <ion-icon name="contact"></ion-icon>
              Edit Profile
            </button>
          </ion-col> -->
          <ion-col no-padding class="column">
            <button ion-button icon-left small full color="light"  (click)="logout()">
              <ion-icon name="log-out"  style="margin-right: 5px;margin-left: 5px"></ion-icon>
              {{ 'LOG_OUT' | translate }}
            </button>
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-toolbar>
  </ion-header>

  <ion-content color="primary" *ngIf = "!isLogOut" >

    <ion-list class="user-list">
      <button ion-item menuClose class="text-1x" (click)="openPage('AdminDashboardPage')" *ngIf="userType == 'Admin'">
        <ion-icon item-left name="stats" color="primary"></ion-icon>
        <span ion-text color="primary">{{'DASHBOARD' | translate}}</span>
      </button>
      <button ion-item menuClose class="text-1x" (click)="openPage('CaptainAssignDetailsPage')" *ngIf="userType == 'Admin'">
          <ion-icon item-left name="clock" color="primary"></ion-icon>
          <span ion-text color="primary">{{'ASSIGN_TIME_DETAILS' | translate}}</span>
        </button>
      <button ion-item menuClose class="text-1x" (click)="openPage('AgenciesPage')" *ngIf="userType == 'Admin'">
        <ion-icon item-left name="home" color="primary"></ion-icon>
        <span ion-text color="primary">{{'AGENCIES' | translate}}</span>
      </button>
      <button ion-item menuClose class="text-1x" (click)="openPage('OrdersPage')" *ngIf="userType == 'Agency'">
        <ion-icon item-left name="basket" color="primary"></ion-icon>
        <span ion-text color="primary">{{'ORDERS' | translate}}</span>
      </button>
      <button ion-item menuClose class="text-1x" (click)="openPage('CaptainOrdersPage')" *ngIf="userType == 'Captain'">
        <ion-icon item-left name="basket" color="primary"></ion-icon>
        <span ion-text color="primary">{{'ORDERS' | translate}}</span>
      </button>
      <button ion-item menuClose class="text-1x" (click)="openPage('CaptainsPage')" *ngIf="userType == 'Admin' || userType == 'Agency'">
        <ion-icon item-left name="bicycle" color="primary"></ion-icon>
        <span ion-text color="primary">{{'CAPTAINS' | translate}}</span>
      </button>
      <!-- <button ion-item menuClose class="text-1x" (click)="openPage('AgencyCaptainsPage')" *ngIf="userType == 'Admin'">
        <ion-icon item-left name="bicycle" color="primary"></ion-icon>
        <span ion-text color="primary">{{'YOUR_CAPTAINS' | translate}}</span>
      </button> -->
      <button ion-item menuClose class="text-1x" (click)="openPage('UserOrdersPage')" *ngIf="userType == 'Admin' || userType == 'Captain'">
        <ion-icon item-left name="basket" color="primary"></ion-icon>
        <span ion-text color="primary">{{'USER_ORDERS' | translate}}</span>
      </button>
      <button ion-item menuClose class="text-1x" (click)="openPage('UserOrdersPage')" *ngIf="userType == 'User'">
        <ion-icon item-left name="basket" color="primary"></ion-icon>
        <span ion-text color="primary">{{'MY_ORDERS' | translate}}</span>
      </button>
      <button ion-item menuClose class="text-1x" (click)="openPage('UserAddressesPage')" *ngIf="userType == 'User'">
        <ion-icon item-left name="home" color="primary"></ion-icon>
        <span ion-text color="primary">{{'MY_ADDRESSES' | translate}}</span>
      </button>
      <button ion-item menuClose class="text-1x" (click)="openPage('SettingsPage')" *ngIf="userType != 'User' || (userType == 'User' && account.faceBookAccount)">
        <ion-icon item-left name="construct" color="primary"></ion-icon>
        <span ion-text color="primary">{{'SETTING' | translate}}</span>
      </button>
      <button ion-item class="text-1x" (click)="userSettingToggle()" *ngIf="userType == 'User' && !account.faceBookAccount">
          <ion-icon item-left name="construct" color="primary"></ion-icon>
          <span ion-text color="primary">{{'SETTING' | translate}}</span>
          <ion-icon [name]="getSettingIcon()"  item-right ></ion-icon>
        </button>
        <button ion-item menuClose class="text-1x" style="background-color: #9c9c9c4d;" (click)="openPage('SettingsPage')" *ngIf="userSettingToggleFlag">
            <ion-icon item-left name="paper" style="color: black;font-size: 1.7rem"></ion-icon>
            <span ion-text style="color: black">{{'LANGUAGE' | translate}}</span>
          </button>
          <button ion-item menuClose class="text-1x" style="background-color: #9c9c9c4d;" (click)="openPage('ChangePasswordPage')" *ngIf="userSettingToggleFlag">
              <ion-icon item-left name="unlock" style="color: black;font-size: 1.7rem"></ion-icon>
              <span ion-text style="color: black">{{'CHANNGE_PASSWORD' | translate}}</span>
            </button>
      

    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
