page-captain-assign-details {


        .circle-pic{
            width:70px;
            height:70px;
            border-radius: 50%;      
        }
        .icon-btn{
           
        position: absolute;
        padding: 20px;
        margin-top: 20px;
        margin-left: 50px;
        
        }
        .img-col{
            width: 60px;
            max-width: 80px;
        }
        .info-div{
            margin-left: 20px;
            margin-top: 5px;
           
        }
        .info-div2{
          margin-top: 5px;
         
      }
      .item-background2 {
          background-color: transparent;
          border-bottom: 1px solid rgba(86, 61, 124, 1.0);
      }
      .list-md ion-item-sliding {
        background-color: transparent;
    }
        .auth-page-captain {
            background-color: #fff;
            &::after {
              content: "";
              background: url("../assets/img/bg.jpg") no-repeat;
              background-size: cover;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              position: absolute;
              z-index: 0;
            }
        }
        .item-background {
            background-color: unset;
        }
        .btn-style {
            padding: 5px;
        }
    
    
    
        .ion-icon2 {
            font-size: 5em;
    }
    .auth-page2 {
        background-color: #fff;
        &::after {
          content: "";
          background: url("../assets/img/bg.jpg") no-repeat;
          background-size: cover;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          position: absolute;
          z-index: 0;
        }
      
        .scroll-content {
          display: flex;
          //align-items: center;
          justify-content: center;
          //background: rgba(50, 10, 92, .4);
      
          .login-content {
            width: 100%;
      
            .logo {
              width: 80px;
              height: 80px;
              margin: 20px auto 0;
              border-radius: 10%;
              background: url("../assets/img/talabatk_logo.jpeg") no-repeat;
              background-size: 100%;
            }
      
            .list-form {
              padding: 0;
              margin-bottom: 0;
      
              ion-item {
                background: none;
                padding: 0;
      
                &:first-child {
                  border-top: none;
                }
      
                &:after {
                  display: none;
                }
      
                ion-label {
                  font-size: 1em;
                  color: black;
                }
      
                input {
                  color: black;
                }
              }
            }
          }
        }
      }
      
    
    }
    .search{
        margin-top: 20%;
    }
    .not-search {
        margin-top: 0%;
    }