<!--
  Generated template for the CaptainsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      Welcome, {{captain?.name}}!
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="logout()" id="logout">
        Logout
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="auth-page-captain">

    <ion-grid style="width: 100%">
        <ion-row>
          <ion-col style="padding: 0px">
            <button ion-button block tappable [ngClass] ="{'tap-selected': myVar == 'not assigned', 'tap-notselected': myVar != 'not assigned'}" (click)="getNotAssigned('not assigned')">
              <!-- <ion-icon name="close" item-start></ion-icon> -->
              {{ 'NOT_ASSIGNED' | translate }}
            </button>
          </ion-col>
          <ion-col style="padding: 0px">
            <button ion-button  block tappable [ngClass] ="{'tap-selected': myVar == 'assigned', 'tap-notselected': myVar != 'assigned'}" (click)="getAllOrders('assigned')">
                <!-- <ion-icon name="stats" item-start></ion-icon> -->
                {{ 'ASSIGNED' | translate }}
            </button>
          </ion-col>
          <ion-col style="padding: 0px">
            <button ion-button block tappable [ngClass] = "{'tap-selected': myVar == 'delivered', 'tap-notselected': myVar != 'delivered'}" (click)="getAllOrders('delivered')">
                <!-- <ion-icon name="checkmark" item-start></ion-icon> -->
                {{ 'DELIVERED' | translate }}
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
 


  <ion-list style="padding-top: 15px;">


    <ion-item class="item-background" *ngFor="let order of ordersList.slice().reverse()">
      <ion-grid>
        <ion-row>
          <ion-col class="img-col">
            <img class="circle-pic" src="../../assets/img/person.png" />
          </ion-col>

          <ion-col>

            <div class="account-info info-div">
              <p>
                {{order.name}}
              </p>
              <p>
                {{order.address}}
              </p>

              <div *ngFor="let item of viewOrder(order.orders)">
                <p style="margin-left: 15px;">
                  {{item}}
                </p>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      
      <ion-buttons end class="btn-style" *ngIf="myVar == 'assigned'">
        <button ion-button (click)="finish(order)">
            {{ 'DELIVER' | translate }}
        </button>
      </ion-buttons>
      <ion-buttons end class="btn-style" *ngIf="myVar == 'not assigned'">
          <button ion-button (click)="assignOrder(order)">
              {{ 'ASSIGN_ORDER' | translate }}
          </button>
        </ion-buttons>
    </ion-item>




  </ion-list>




</ion-content>