<!--
  Generated template for the CaptainsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      {{ 'CAPTAIN_ORDERS' | translate }}
    </ion-title>
    <!-- <ion-buttons end>
      <button ion-button (click)="logout()" id="logout">
        Logout
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>


<ion-content class="auth-page-captain">

  <ion-grid style="width: 100%">
    <ion-row>
      <ion-col style="padding: 0px" *ngIf="autoAssign">
        <button ion-button block tappable [ngClass]="{'tap-selected': myVar == 'not assigned', 'tap-notselected': myVar != 'not assigned'}"
          (click)="getNotAssigned('not assigned' , 0)">
          <!-- <ion-icon name="close" item-start></ion-icon> -->
          {{ 'NOT_ASSIGNED' | translate }}
        </button>
      </ion-col>
      <ion-col style="padding: 0px">
        <button ion-button block tappable [ngClass]="{'tap-selected': myVar == 'assigned', 'tap-notselected': myVar != 'assigned'}"
          (click)="getAllOrders('assigned' , 0)">
          <!-- <ion-icon name="stats" item-start></ion-icon> -->
          {{ 'ASSIGNED' | translate }}
        </button>
      </ion-col>
      <ion-col style="padding: 0px">
        <button ion-button block tappable [ngClass]="{'tap-selected': myVar == 'delivered', 'tap-notselected': myVar != 'delivered'}"
          (click)="getAllOrders('delivered' , 0)">
          <!-- <ion-icon name="checkmark" item-start></ion-icon> -->
          {{ 'DELIVERED' | translate }}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div text-center *ngIf="ordersList.length == 0">
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="../../assets/img/sad.png" class="not-found-img">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>

          <h3 class="not-found-text"> {{ 'EMPTY_LIST' | translate }}</h3>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

  <ion-list style="padding-top: 15px;">


    <ion-item class="item-background" *ngFor="let order of ordersList">
      <ion-grid>
          <ion-row *ngIf="order.checkImage != null && order.checkImage != 'O'">
              <ion-col col-12>
                <img style="height: 90%;
                    width: 90%;margin-left: 5%;margin-right: 5%;" *ngIf="order.checkImage  && order.checkImage != 'O'" [src]="['data:image/jpg;base64',order.checkImage]"
                />
              </ion-col>
    
            </ion-row>
            <ion-row *ngIf="order.checkImage == null || order.checkImage == 'O'">
          <ion-col class="img-col" col-3>
            <img class="circle-pic" src="../../assets/img/orders.jpg" />
          </ion-col>

          <ion-col col-9>

            <div class="account-info info-div">
              <p>
                {{ 'NAME' | translate }} : <strong text-wrap>{{order.name}}</strong>
              </p>
              <p>
                {{ 'ADDRESS' | translate }} 1 : <strong text-wrap>{{order.address}}</strong>
              </p>
              <p *ngIf="order.secondAddress != null && order.secondAddress != ''">
                {{ 'ADDRESS' | translate }} 2 : <strong text-wrap>{{order.secondAddress}}</strong>
              </p>
              <p>
                {{ 'PHONE_NUMBER_PHONE' | translate }} 1 : <strong text-wrap>{{order.firstPhone}}</strong>
              </p>
              <p *ngIf="order.secondPhone != null && order.secondPhone != ''">
                {{ 'PHONE_NUMBER_PHONE' | translate }} 2 : <strong text-wrap>{{order.secondPhone}}</strong>
              </p>
              <p>
                {{ 'ORDERS' | translate }} :-
              </p>
              <!-- <div *ngFor="let item of viewOrder(order.orders)">
                <p style="margin-left: 15px;margin-right: 15px">
                  {{item.index}}- <strong text-wrap>{{item.name}}</strong>
                </p>
              </div> -->
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="account-info info-div2" *ngIf="order.checkImage == null || order.checkImage == 'O'">
          <ion-item class="item-background2">
            <ion-grid style="padding: 0px">
              <ion-row justify-content-center align-items-center style="height: 100%;padding: 0px">
                <ion-col col-6>
                  <p>
                    {{'NAME' | translate}}
                  </p>
                </ion-col>
                <ion-col col-1 style="padding: 0px">
                    <p text-center>
                      <strong text-wrap>|</strong>
                    </p>
                  </ion-col>
                <ion-col col-5 style="padding: 0px">
                  <p text-center>
                    {{'PRICE' | translate}}
                  </p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item class="item-background2" *ngFor="let sub of order.subOrders">
            <ion-grid style="padding: 0px">
              <ion-row justify-content-center align-items-center style="height: 100%;padding: 0px">
                <ion-col col-6 style="padding: 0px">
                  <p>
                    <strong text-wrap>{{sub.name}}</strong>
                  </p>
                </ion-col>
                <ion-col col-1 style="padding: 0px">
                    <p text-center>
                      <strong text-wrap>|</strong>
                    </p>
                  </ion-col>
                <ion-col col-5 style="padding: 0px">
                  <p text-center>
                    <strong text-wrap>{{sub.price}}</strong>
                  </p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item class="item-background2">
            <ion-grid style="padding: 0px">
              <ion-row justify-content-center align-items-center style="height: 100%;padding: 0px">
                <ion-col col-6 style="padding: 0px">
                  <p>
                    <strong text-wrap>{{'DELIVER_PRICE' | translate}}</strong>
                  </p>
                </ion-col>
                <ion-col col-1 style="padding: 0px">
                    <p text-center>
                      <strong text-wrap>|</strong>
                    </p>
                  </ion-col>
                <ion-col col-5 style="padding: 0px">
                  <p text-center>
                    <strong text-wrap>10.0</strong>
                  </p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item class="item-background2">
            <ion-grid style="padding: 0px">
              <ion-row justify-content-center align-items-center style="height: 100%;padding: 0px">
                <ion-col col-6 style="padding: 0px">
                  <p>
                    <strong text-wrap>{{'TOTAL' | translate}}</strong>
                  </p>
                </ion-col>
                <ion-col col-1 style="padding: 0px">
                    <p text-center>
                      <strong text-wrap>|</strong>
                    </p>
                  </ion-col>
                <ion-col col-5 style="padding: 0px">
                  <p text-center>
                    <strong text-wrap>{{order.total}}</strong>
                  </p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </div>

      <ion-buttons end class="btn-style" *ngIf="myVar == 'assigned'">
        <button ion-button (click)="finish(order)">
          {{ 'DELIVER' | translate }}
        </button>
      </ion-buttons>
      <ion-buttons end class="btn-style" *ngIf="myVar == 'not assigned'">
        <button ion-button (click)="assignOrder(order)">
          {{ 'ASSIGN_ORDER' | translate }}
        </button>
      </ion-buttons>
    </ion-item>




  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="ordersList.length != 0">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      [loadingText]="moreData">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>