
<ion-header>

    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>{{ 'ADD_JOB_TITLE'| translate}}</ion-title>
    </ion-navbar>
  
  </ion-header>
  

<!-- -->
<ion-content class="auth-page">
  <div class="login-content">

    <form class="list-form" [formGroup]="myForm" (submit)="addJob()">
      <button type="submit" class="button" hidden></button>
      <ion-item>
        <ion-label floating [style.transform-origin]="language == 'en' ? 'left top' : 'right top'">
          <ion-icon name="person" item-start class="text-primary"></ion-icon>
          {{ 'FULL_NAME' | translate }}
        </ion-label>
        <ion-input type="text" [(ngModel)]="job.name" name="name" formControlName="name" [lang]="language"
          [dir]="direction"></ion-input>
      </ion-item>

      <p class="validationHint"
        *ngIf="hasError('name', 'required') || checkSpaceTofields(job.name , 'name')">
        {{ 'REQURIED' | translate }} </p>
      <p class="validationHint" *ngIf="hasError('name', 'maxlength')">{{ 'MAX_LENGTH' | translate }} </p>


      <ion-item>
        <ion-label floating [style.transform-origin]="language == 'en' ? 'left top' : 'right top'">
          <ion-icon name="call" item-start class="text-primary"></ion-icon>
          {{ 'PHONE' | translate }}
        </ion-label>
        <ion-input type="number" [(ngModel)]="job.phone" formControlName="phone" name="phone" [lang]="language"
          [dir]="direction"></ion-input>
      </ion-item>

      <p class="validationHint" *ngIf="hasError('phone', 'required')"> {{ 'REQURIED' | translate }} </p>
      <p class="validationHint" *ngIf="hasError('phone', 'pattern')">{{ 'PHONE_NUMBER' | translate }} </p>

      <ion-item>
        <ion-label floating [style.transform-origin]="language == 'en' ? 'left top' : 'right top'">
          <ion-icon name="calendar" item-start class="text-primary"></ion-icon>
          {{ 'AGE' | translate }}
        </ion-label>
        <ion-input type="number" [(ngModel)]="job.age" formControlName="age" name="age" [lang]="language"
          [dir]="direction"></ion-input>
      </ion-item>

      <p class="validationHint" *ngIf="hasError('age', 'required')"> {{ 'REQURIED' | translate }} </p>
      <p class="validationHint" *ngIf="checkAge()"> {{ 'AGE_NOT_ACCEPTABLE' | translate }} </p>

      <ion-item>
          <ion-label floating [style.transform-origin]="language == 'en' ? 'left top' : 'right top'">
            <ion-icon name="pin" item-start class="text-primary"></ion-icon>
            {{ 'GOVERNMENT' | translate }}
          </ion-label>
          <ion-input type="text" [(ngModel)]="job.government" name="government" formControlName="government" [lang]="language"
            [dir]="direction"></ion-input>
        </ion-item>
  
        <p class="validationHint"
          *ngIf="hasError('government', 'required') || checkSpaceTofields(job.government , 'government')">
          {{ 'REQURIED' | translate }} </p>
        <p class="validationHint" *ngIf="hasError('government', 'maxlength')">{{ 'MAX_LENGTH' | translate }} </p>
  
        <ion-item>
            <ion-label floating [style.transform-origin]="language == 'en' ? 'left top' : 'right top'">
              <ion-icon name="bookmarks" item-start class="text-primary"></ion-icon>
              {{ 'EDUCATION_DEGREE' | translate }}
            </ion-label>
            <ion-input type="text" [(ngModel)]="job.educationDegree" name="educationDegree" formControlName="educationDegree" [lang]="language"
              [dir]="direction"></ion-input>
          </ion-item>
    
          <p class="validationHint"
            *ngIf="hasError('educationDegree', 'required') || checkSpaceTofields(job.educationDegree , 'educationDegree')">
            {{ 'REQURIED' | translate }} </p>
          <p class="validationHint" *ngIf="hasError('educationDegree', 'maxlength')">{{ 'MAX_LENGTH' | translate }} </p>
    
          

    </form>

    <ion-item>
      <ion-label floating [style.transform-origin]="language == 'en' ? 'left top' : 'right top'" style="color: black;">
        <ion-icon name="car" item-start class="text-primary"></ion-icon>
        {{ 'CAR_TYPE' | translate }}
      </ion-label>
      <ion-select [okText]="okText" [cancelText]="cancelText" (click)="carClick()" [(ngModel)]="job.carType" [lang]="language" [dir]="direction">
        <ion-option [selected]="job.carType == item" [value]="'دراجة'" [dir]="direction"> دراجة </ion-option>
        <ion-option [selected]="job.carType == item" [value]="'دراجة بخارية'" [dir]="direction"> دراجة بخارية </ion-option>
        <ion-option [selected]="job.carType == item" [value]="'سيارة'" [dir]="direction"> سيارة </ion-option>
        <ion-option [selected]="job.carType == item" [value]="'مواصلات'" [dir]="direction"> مواصلات </ion-option>
      </ion-select>
    </ion-item>
    <p class="validationHint" *ngIf="(job.carType == '' || job.carType == null || job.carType == undefined) && carFlag">{{ 'REQURIED' | translate }} </p>


    <div margin-top style="margin-bottom: 40px;">
      <button ion-button block class="myButton" tappable (click)="addJob()"
        [disabled]="job.carType == '' || job.carType == null || job.carType == undefined || checkSpaces() || checkAge() || hasError('phone', 'pattern')">
        {{ 'ADD_JOB_BUTTON' | translate }}
      </button>

    </div>
  </div>
</ion-content>