<!--
  Generated template for the ForgetPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  
  <ion-navbar>
      <ion-grid style="width: 100%">
            <ion-row>
              <ion-col col-1 style="max-width: 25px;" (click)="back()">
                <ion-buttons style="margin-block-start: 2px" class="btn-style">
                  <button ion-button >
                    <ion-icon [name]="language != 'en' ? 'arrow-round-forward' : 'arrow-round-back'"></ion-icon>
                  </button>
                </ion-buttons>
              </ion-col>
              <ion-col col-11  [style.margin-top] ="language == 'en' ? '5px' : '2px'">
                  <ion-title>{{ 'FORGET_PASSWORD' | translate }}</ion-title>
              </ion-col>
            </ion-row>
          </ion-grid>   
        </ion-navbar>
</ion-header>


<ion-content class="auth-page">
  <div class="login-content">
    <!-- Login form -->
    <form class="list-form" [formGroup]="myForm">
      
      <ion-item>
        <ion-label floating [style.transform-origin]="language == 'en' ? 'left top' : 'right top'">
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          {{ 'EMAIL' | translate }}
        </ion-label>
        <ion-input type="email" name="email" formControlName="email" [lang]="language" [dir]="direction"></ion-input>
      </ion-item>

      <p class="validationHint" *ngIf="hasError('email', 'required')"> {{ 'REQURIED' | translate }} </p>
      <p class="validationHint" *ngIf="hasError('email', 'email')">{{ 'EMAIL_VALID' | translate }} </p>

    </form>

    <div margin-top style="margin-bottom: 40px;">
      <button ion-button block color="dark" tappable (click)="sendMail()" [disabled]="!myForm.valid">
        {{ 'SEND_EMAIL' | translate }}
      </button>
    </div>
  </div>
</ion-content>
