<ion-header>

  <ion-navbar>
    <ion-title>{{ 'ADD_ORDER' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<!-- -->
<ion-content class="auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding text-center>
      <div class="logo"></div>
      <h2 ion-text class="text-primary">
        Talabatk
      </h2>
    </div>

    <!-- Login form -->
    <form class="list-form" [formGroup]="myForm">
      <ion-item>
        <ion-label floating>
          <ion-icon name="person" item-start class="text-primary"></ion-icon>
          {{ 'CAPTAIN' | translate }}
        </ion-label>
        <ion-select formControlName="captainId">
          <ion-option *ngFor="let item of captainList" [selected]="item.name ==item.name" [value]="item.id">{{item.name}} </ion-option>

        </ion-select>
      </ion-item>

      <p class="validationHint" *ngIf="hasError('captainId', 'required')"> {{ 'REQURIED' | translate }} </p>
      
    </form>

      <div margin-top>
        <button ion-button block color="dark" tappable (click)="assignOrder()" [disabled]  = "!myForm.valid" >
          {{ 'ASSIGN_ORDER_BUTTON' | translate }}
        </button>
      </div>
      <div margin-top>
        <button ion-button block color="dark" tappable (click)="assignOrderToFreeCaptain()"  >
          {{ 'ASSIGN_ORDER_TO_FREE_BUTTON' | translate }}
        </button>
      </div>
  </div>

</ion-content>