<ion-header>

  <ion-navbar>

      <ion-grid style="width: 100%">
          <ion-row>
            <ion-col col-1 style="max-width: 25px;" (click)="back()">
              <ion-buttons style="margin-block-start: 2px" class="btn-style">
                <button ion-button >
                  <ion-icon [name]="language != 'en' ? 'arrow-round-forward' : 'arrow-round-back'"></ion-icon>
                </button>
              </ion-buttons>
            </ion-col>
            <ion-col col-11  [style.margin-top] ="language == 'en' ? '5px' : '2px'">
                <ion-title>{{ 'ASSIGN_CAPTAIN' | translate }}</ion-title>
            </ion-col>
          </ion-row>
        </ion-grid>


    
  </ion-navbar>

</ion-header>

<!-- -->
<ion-content class="auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding text-center>
      <div class="logo"></div>
      <h2 ion-text class="text-primary">
        {{ 'TLABATAC' | translate }}
      </h2>
    </div>

    <!-- Login form -->
    <form class="list-form" [formGroup]="myForm">
      <ion-item>
        <ion-label floating [style.transform-origin]="language == 'en' ? 'left top' : 'right top'">
          <ion-icon name="bicycle" item-start class="text-primary"></ion-icon>
          {{ 'CAPTAIN' | translate }}
        </ion-label>
        <ion-select formControlName="captainId" [lang]="language" [dir]="direction">
          <ion-option *ngFor="let item of captainList" [selected]="item.name ==item.name" [value]="item" [dir]="direction" >{{item.name}}   ({{ getStatus(item) }}) </ion-option>

        </ion-select>
      </ion-item>

      <p class="validationHint" *ngIf="hasError('captainId', 'required')"> {{ 'REQURIED' | translate }} </p>
      
    </form>

      <div margin-top>
        <button ion-button block color="dark" tappable (click)="assignOrder()" [disabled]  = "!myForm.valid" >
          {{ 'ASSIGN_ORDER_BUTTON' | translate }}
        </button>
      </div>
      <!-- <div margin-top>
        <button ion-button block color="dark" tappable (click)="assignOrderToFreeCaptain()"  >
          {{ 'ASSIGN_ORDER_TO_FREE_BUTTON' | translate }}
        </button>
      </div> -->

      <div margin-top>
        <button ion-button block color="dark" tappable (click)="skip()"  >
          {{ 'SKIP' | translate }}
        </button>
      </div>
  </div>

</ion-content>