<!--
  Generated template for the CaptainsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>


    <ion-title>{{ 'MY_ADDRESSES' | translate }}</ion-title>

    <ion-buttons end class="btn-style">
      <button class="myButton" style="box-shadow: 0px 0px 0px 0px #9fb4f2;text-shadow: 0px 0px 0px #283966;border: 0px solid #263973;" ion-button (click)="add()">
        {{ 'ADD' | translate }}
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="auth-page-captain">

  <div text-center *ngIf="addresses.length == 0">
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="../../assets/img/sad.png" class="not-found-img">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>

          <h3 class="not-found-text"> {{ 'ADD_NEW_ADDRESS' | translate }}</h3>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>



  <ion-list style="padding-top: 15px;">

    <!-- <ion-item-sliding  class="item-background" *ngFor="let address of addresses" [lang]="language" [dir]="direction"> -->
    <ion-item class="item-background" *ngFor="let address of addresses">
      <ion-grid>
        <ion-row justify-content-center align-items-center>
          <ion-col class="img-col" col-3>
            <img class="circle-pic" src="../../assets/img/home.png" />
          </ion-col>

          <ion-col class="btn-col" col-9>

            <div class="account-info info-div">
              <!-- <p style="margin-top: 13px" *ngIf="address.name != null && address.name != ''">
                {{'ADDRESS_NAME' | translate}} :
                <strong text-wrap> {{address.name}}</strong>
              </p> -->
              <!-- <p style="margin-top: 13px">
                  {{'CITY' | translate}} : <strong text-wrap> {{address.city}}</strong>
              </p> -->

              <p style="margin-top: 10px">

                {{'ADDRESS' | translate}} :
               <!-- <strong text-wrap> {{address.region}} , {{address.street}} , {{'TOWER' | translate}}/{{address.building}} , {{'FLOOR' | translate}}/{{address.floor}} , {{'FLAT' | translate}}/{{address.flatNumber}} , {{address.city}}</strong> -->
               <strong text-wrap> {{address.region}} , {{address.street}} , {{address.city}}</strong>
              </p>
              <!-- <p style="margin-top: 13px" *ngIf="address.livingType != null && address.livingType != ''">
                {{'LIVINF_TYPE' | translate}} :
                <strong text-wrap> {{getLivingType(address.livingType)}}</strong>
              </p> -->
              <p style="margin-top: 13px" *ngIf="address.otherDetails != null && address.otherDetails != ''">
                {{'OTHER_DETAILS' | translate}} :
                <strong text-wrap> {{address.otherDetails}}</strong>
              </p>

            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>

            <button style="width: 100%" ion-button class="circul" class="myButton" (click)="EditAddress(address)">
              {{'EDIT' | translate}}
              <ion-icon name="ios-pricetag-outline" [style.margin-right]="language == 'en' ? '0px' : '10px'" [style.margin-left]="language == 'en' ? '10px' : '0px'" ></ion-icon>
            </button>
          </ion-col>
          <ion-col col-6>
            <button style="background: linear-gradient(to bottom, #fc1200 5%, #ff2e02 100%);background-color: rgba(0, 0, 0, 0);background-color: rgba(0, 0, 0, 0);border: 1px solid #f71400;box-shadow: 0px 0px 0px 2px #a24949;width: 100%" ion-button class="circul" class="myButton" (click)="DeleteAddress(address)">
              {{'DELETE' | translate}}
              <ion-icon name="ios-trash" [style.margin-right]="language == 'en' ? '0px' : '10px'" [style.margin-left]="language == 'en' ? '10px' : '0px'" ></ion-icon>
            </button>

          </ion-col>
        </ion-row>

      </ion-grid>





    </ion-item>
    <!-- <ion-item-options side="left" style="direction:ltr" class="options" *ngIf="language == 'ar'"> 
                       
        <button ion-button class="circul" color="danger" (click)="DeleteAddress(address)">

          <ion-icon  name="ios-trash"></ion-icon>
       </button>
       <button ion-button class="circul" (click)="EditAddress(address)">

          <ion-icon  name="ios-pricetag-outline"></ion-icon>
         </button> 
       </ion-item-options>
       <ion-item-options class="options" *ngIf="language == 'en'"> 
                   
          <button ion-button class="circul" color="danger" (click)="DeleteAddress(address)">

            <ion-icon  name="ios-trash"></ion-icon>
         </button>
         <button ion-button class="circul" (click)="EditAddress(address)">

            <ion-icon  name="ios-pricetag-outline"></ion-icon>
           </button> 
         </ion-item-options>

  </ion-item-sliding> -->


  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="addresses.length != 0">
    <ion-infinite-scroll-content loadingSpinner="bubbles" [loadingText]="moreData">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>



</ion-content>