<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SIGNUP_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<!-- -->
<ion-content class="auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding text-center>
      <div class="logo"></div>
      <h2 ion-text class="text-primary">
        Tlabatac
      </h2>
    </div>

    <!-- Login form -->
    <form class="list-form" [formGroup]="myForm">
      <ion-item>
        <ion-label floating>
          <ion-icon name="person" item-start class="text-primary"></ion-icon>
          {{ 'FIRST_NAME' | translate }}
        </ion-label>
        <ion-input type="text" [(ngModel)]="account.firstName" name="firstName" formControlName="firstName"></ion-input>
      </ion-item>

      <p class="validationHint" *ngIf="hasError('firstName', 'required')"> {{ 'REQURIED' | translate }} </p>
      <p class="validationHint" *ngIf="hasError('firstName', 'maxlength')">{{ 'MAX_LENGTH' | translate }} </p>

      <ion-item>
        <ion-label floating>
          <ion-icon name="person" item-start class="text-primary"></ion-icon>
          {{ 'LAST_NAME' | translate }}
        </ion-label>
        <ion-input type="text" [(ngModel)]="account.lastName" name="lastName" formControlName="lastName"></ion-input>
      </ion-item>

      <p class="validationHint" *ngIf="hasError('lastName', 'required')"> {{ 'REQURIED' | translate }} </p>
      <p class="validationHint" *ngIf="hasError('lastName', 'maxlength')">{{ 'MAX_LENGTH' | translate }} </p>

      <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          {{ 'EMAIL' | translate }}
        </ion-label>
        <ion-input type="email" [(ngModel)]="account.email" name="email" formControlName="email"></ion-input>
      </ion-item>

      <p class="validationHint" *ngIf="hasError('email', 'required')"> {{ 'REQURIED' | translate }} </p>
      <p class="validationHint" *ngIf="hasError('email', 'email')">{{ 'EMAIL_VALID' | translate }} </p>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          {{ 'PASSWORD' | translate }}
        </ion-label>
        <ion-input type="password" [(ngModel)]="account.password" name="password" formControlName="password"></ion-input>
      </ion-item>

      <p class="validationHint" *ngIf="hasError('password', 'required')"> {{ 'REQURIED' | translate }} </p>
      <p class="validationHint" *ngIf="hasError('password', 'minlength')">{{ 'MIN_LENGTH' | translate }} </p>

      <ion-item >
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          {{ 'CONFIRM_PASSWORD' | translate }}
        </ion-label>
        <ion-input type="password" name="passwordConfirm" formControlName="passwordConfirm" [disabled] = "!myForm.get('password').valid"></ion-input>
      </ion-item>

      <p class="validationHint" *ngIf="hasError('passwordConfirm', 'required')"> {{ 'REQURIED' | translate }} </p>
      <p class="validationHint" *ngIf="notMathces()">{{ 'CONFIRM_PASSWORD_VALIDATE' | translate }} </p>

    </form>
    

    <div margin-top>
      <button ion-button block color="dark" tappable (click)="doSignup()" [disabled]="!myForm.valid || notMathces()">
        {{ 'SIGNUP_BUTTON' | translate }}
      </button>
      </div>
      <!--
        <p text-center ion-text color="secondary">Or Sign Up with:</p>
  
        <ion-grid>
          <ion-row>
            <ion-col col-4>
              <button ion-button icon-only block class="btn-facebook">
                <ion-icon name="logo-facebook"></ion-icon>
              </button>
            </ion-col>
            <ion-col col-4>
              <button ion-button icon-only block class="btn-twitter">
                <ion-icon name="logo-twitter"></ion-icon>
              </button>
            </ion-col>
            <ion-col col-4>
              <button ion-button icon-only block class="btn-gplus">
                <ion-icon name="logo-googleplus"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      -->

      <!-- Other links -->
      <div text-center margin-top>
        <span ion-text color="primary" tappable (click)="login()">I have an account</span>
      </div>

    </div>
</ion-content>