page-signup {
    .ion-md-eye-off:before {
        content: "\f2e8";
        margin-top: 9px;
      }
      .ion-md-eye:before {
        content: "\f2e9";
        margin-top: 9px;
      }

      .item-radio-checked.item-md ion-label {
        color: darkorange;
    }
}
